{
  "openapi": "3.0.1",
  "info": {
    "title": "MC-account",
    "description": "Multi-Account System\n\nThis spec only includes interfaces annotated with @OpenApiPermission, i.e., the public OpenAPI subset exposed to end users/integrators and accessed via API Gateway using Access Key / Secret Key (AK/SK) signature authentication. It excludes backend Admin, internal Feign, and other non-exposed interfaces.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://springdoc.org"
    },
    "version": "v0.0.1"
  },
  "externalDocs": {
    "description": "MC-account Wiki Documentation",
    "url": ""
  },
  "servers": [
    {
      "url": "https://gateway.mcconnects.com",
      "description": "Production API Gateway"
    }
  ],
  "security": [
    {
      "McAccessKey": [],
      "McSignature": [],
      "McTimestamp": [],
      "McNonce": []
    }
  ],
  "paths": {
    "/openapi/v1/mc-account/transaction/transaction/record/transactionId/{id}": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Query Transaction Record Details by Transaction ID",
        "description": "Required Permission: READ",
        "operationId": "selectTransactionId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "uid": {
                          "type": "string",
                          "description": "Associated Account Table"
                        },
                        "transactionId": {
                          "type": "string"
                        },
                        "symbolId": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "acSymbol": {
                          "type": "string"
                        },
                        "network": {
                          "type": "string"
                        },
                        "exchangeSymbolId": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "exchangeSymbol": {
                          "type": "string"
                        },
                        "transactionType": {
                          "type": "string",
                          "description": "Trade Type Enum",
                          "enum": [
                            "RECHARGE",
                            "WITHDRAWAL",
                            "TRANSFER_IN",
                            "TRANSFER_OUT",
                            "EXCHANGE",
                            "SAFEBOX_TRANSFER_IN",
                            "ROLLBACK",
                            "SAFEBOX_TRANSFER_OUT",
                            "ADJUSTMENT_ADD",
                            "ADJUSTMENT_REDUCE",
                            "MLP_DEPOSIT",
                            "MLP_WITHDRAWAL",
                            "TRANSFER_TRADE_TO_SPOT",
                            "TRANSFER_SPOT_TO_TRADE",
                            "EARN_DEPOSIT",
                            "EARN_WITHDRAWAL",
                            "PROMO_REWARD_IN",
                            "PROMO_REWARD_OUT",
                            "RECHARGE - Recharge",
                            "WITHDRAWAL - Withdrawal",
                            "TRANSFER_IN - Transfer In",
                            "TRANSFER_OUT - Transfer Out",
                            "EXCHANGE - Exchange",
                            "ROLLBACK - Rollback",
                            "SAFEBOX_TRANSFER_IN - Transfer into Safebox",
                            "SAFEBOX_TRANSFER_OUT - Transfer out of Safebox",
                            "ADJUSTMENT_ADD - Adjustment Increase",
                            "ADJUSTMENT_REDUCE - Adjustment Decrease",
                            "MLP_DEPOSIT - MLP Account Deposit",
                            "MLP_WITHDRAWAL - MLP Account Withdrawal",
                            "TRANSFER_TRADE_TO_SPOT - Contract to Spot Transfer",
                            "TRANSFER_SPOT_TO_TRADE - Spot to Contract Transfer",
                            "EARN_DEPOSIT - Earn Deposit",
                            "EARN_WITHDRAWAL - Earn Withdrawal",
                            "PROMO_REWARD_IN - Promo Reward Deposit",
                            "PROMO_REWARD_OUT - Promo Reward Withdrawal"
                          ],
                          "example": null
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "SUCCESS",
                            "FAIL",
                            "PENDING"
                          ]
                        },
                        "amount": {
                          "type": "number"
                        },
                        "amountStr": {
                          "type": "string"
                        },
                        "amountDisplay": {
                          "type": "string"
                        },
                        "amountScale": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "exchangeAmount": {
                          "type": "number"
                        },
                        "exchangeAmountDisplay": {
                          "type": "string"
                        },
                        "fee": {
                          "type": "number"
                        },
                        "feeDisplay": {
                          "type": "string"
                        },
                        "createTime": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "finishTime": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "failureReason": {
                          "type": "string"
                        },
                        "errorCode": {
                          "type": "string"
                        },
                        "exchangeRate": {
                          "type": "number"
                        },
                        "convertExchangeRate": {
                          "type": "number"
                        },
                        "rateDisplay": {
                          "type": "string"
                        },
                        "txHash": {
                          "type": "string"
                        },
                        "feeSymbol": {
                          "type": "string"
                        },
                        "sourceAccountType": {
                          "type": "string",
                          "enum": [
                            "FUND_ACCOUNT",
                            "TRADING_ACCOUNT",
                            "SAFE_BOX",
                            "EXTERNAL_ACCOUNT",
                            "MLP_ACCOUNT",
                            "SPOT_ACCOUNT",
                            "EARN_ACCOUNT"
                          ]
                        },
                        "targetAccountType": {
                          "type": "string",
                          "enum": [
                            "FUND_ACCOUNT",
                            "TRADING_ACCOUNT",
                            "SAFE_BOX",
                            "EXTERNAL_ACCOUNT",
                            "MLP_ACCOUNT",
                            "SPOT_ACCOUNT",
                            "EARN_ACCOUNT"
                          ]
                        },
                        "sourceAccountId": {
                          "type": "string"
                        },
                        "targetAccountId": {
                          "type": "string"
                        },
                        "sourceWalletAddress": {
                          "type": "string"
                        },
                        "targetWalletAddress": {
                          "type": "string"
                        },
                        "extParams": {
                          "type": "string"
                        },
                        "sourceAccountBalance": {
                          "type": "number"
                        },
                        "targetAccountBalance": {
                          "type": "number"
                        },
                        "fundFlowType": {
                          "type": "string",
                          "enum": [
                            "CRYPTO_ADDRESS",
                            "FIAT"
                          ]
                        },
                        "transactionMethod": {
                          "type": "string",
                          "description": "Trading Method Enum",
                          "enum": [
                            "CHAIN_TX",
                            "USER_TRANSFER",
                            "OTHER",
                            "CHAIN_TX - On-chain Transaction",
                            "USER_TRANSFER - User-to-User Transfer",
                            "OTHER - Other"
                          ],
                          "example": null
                        },
                        "recipientUid": {
                          "type": "string",
                          "description": "WITHDRAWAL Has value during user-to-user transfers"
                        },
                        "payerUid": {
                          "type": "string",
                          "description": "RECHARGE Has value during user-to-user transfers"
                        },
                        "finishTimeTimestamp": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "createTimeTimestamp": {
                          "type": "integer",
                          "format": "int64"
                        }
                      },
                      "example": null
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/transaction/transaction/record/page": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Paginated Query of Transaction Records",
        "description": "Required Permission: READ",
        "operationId": "transactionRecordPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "size": {
                    "type": "integer",
                    "format": "int64",
                    "example": 10
                  },
                  "current": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1
                  },
                  "orderBy": {
                    "type": "string",
                    "description": "Supports multi-field sorting, separated by commas",
                    "example": "id,createTime"
                  },
                  "orderDirection": {
                    "type": "string",
                    "description": "ASC for ascending / DESC for descending; separate multiple fields with commas",
                    "example": "DESC,ASC",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "trackingId": {
                    "type": "string",
                    "description": "Unique identifier for tracking the request"
                  },
                  "symbolId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "exchangeSymbolId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "transactionType": {
                    "type": "string",
                    "description": "Trade Type Enum",
                    "enum": [
                      "RECHARGE",
                      "WITHDRAWAL",
                      "TRANSFER_IN",
                      "TRANSFER_OUT",
                      "EXCHANGE",
                      "SAFEBOX_TRANSFER_IN",
                      "ROLLBACK",
                      "SAFEBOX_TRANSFER_OUT",
                      "ADJUSTMENT_ADD",
                      "ADJUSTMENT_REDUCE",
                      "MLP_DEPOSIT",
                      "MLP_WITHDRAWAL",
                      "TRANSFER_TRADE_TO_SPOT",
                      "TRANSFER_SPOT_TO_TRADE",
                      "EARN_DEPOSIT",
                      "EARN_WITHDRAWAL",
                      "PROMO_REWARD_IN",
                      "PROMO_REWARD_OUT",
                      "RECHARGE - Recharge",
                      "WITHDRAWAL - Withdrawal",
                      "TRANSFER_IN - Transfer In",
                      "TRANSFER_OUT - Transfer Out",
                      "EXCHANGE - Exchange",
                      "ROLLBACK - Rollback",
                      "SAFEBOX_TRANSFER_IN - Transfer into Safebox",
                      "SAFEBOX_TRANSFER_OUT - Transfer out of Safebox",
                      "ADJUSTMENT_ADD - Adjustment Increase",
                      "ADJUSTMENT_REDUCE - Adjustment Decrease",
                      "MLP_DEPOSIT - MLP Account Deposit",
                      "MLP_WITHDRAWAL - MLP Account Withdrawal",
                      "TRANSFER_TRADE_TO_SPOT - Contract to Spot Transfer",
                      "TRANSFER_SPOT_TO_TRADE - Spot to Contract Transfer",
                      "EARN_DEPOSIT - Earn Deposit",
                      "EARN_WITHDRAWAL - Earn Withdrawal",
                      "PROMO_REWARD_IN - Promo Reward Deposit",
                      "PROMO_REWARD_OUT - Promo Reward Withdrawal"
                    ],
                    "example": null
                  },
                  "transactionTypes": {
                    "type": "array",
                    "description": "Only takes effect when transactionType==null",
                    "items": {
                      "type": "string",
                      "description": "Trade Type Enum",
                      "enum": [
                        "RECHARGE",
                        "WITHDRAWAL",
                        "TRANSFER_IN",
                        "TRANSFER_OUT",
                        "EXCHANGE",
                        "SAFEBOX_TRANSFER_IN",
                        "ROLLBACK",
                        "SAFEBOX_TRANSFER_OUT",
                        "ADJUSTMENT_ADD",
                        "ADJUSTMENT_REDUCE",
                        "MLP_DEPOSIT",
                        "MLP_WITHDRAWAL",
                        "TRANSFER_TRADE_TO_SPOT",
                        "TRANSFER_SPOT_TO_TRADE",
                        "EARN_DEPOSIT",
                        "EARN_WITHDRAWAL",
                        "PROMO_REWARD_IN",
                        "PROMO_REWARD_OUT",
                        "RECHARGE - Recharge",
                        "WITHDRAWAL - Withdrawal",
                        "TRANSFER_IN - Transfer In",
                        "TRANSFER_OUT - Transfer Out",
                        "EXCHANGE - Exchange",
                        "ROLLBACK - Rollback",
                        "SAFEBOX_TRANSFER_IN - Transfer into Safebox",
                        "SAFEBOX_TRANSFER_OUT - Transfer out of Safebox",
                        "ADJUSTMENT_ADD - Adjustment Increase",
                        "ADJUSTMENT_REDUCE - Adjustment Decrease",
                        "MLP_DEPOSIT - MLP Account Deposit",
                        "MLP_WITHDRAWAL - MLP Account Withdrawal",
                        "TRANSFER_TRADE_TO_SPOT - Contract to Spot Transfer",
                        "TRANSFER_SPOT_TO_TRADE - Spot to Contract Transfer",
                        "EARN_DEPOSIT - Earn Deposit",
                        "EARN_WITHDRAWAL - Earn Withdrawal",
                        "PROMO_REWARD_IN - Promo Reward Deposit",
                        "PROMO_REWARD_OUT - Promo Reward Withdrawal"
                      ],
                      "example": null
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "SUCCESS",
                      "FAIL",
                      "PENDING"
                    ]
                  },
                  "statuses": {
                    "type": "array",
                    "description": "Only takes effect when status==null",
                    "items": {
                      "type": "string",
                      "description": "Only takes effect when status==null",
                      "enum": [
                        "SUCCESS",
                        "FAIL",
                        "PENDING"
                      ]
                    }
                  },
                  "createTimeStart": {
                    "type": "string",
                    "description": "yyyy-MM-dd HH:mm:ss.SSS",
                    "format": "date-time"
                  },
                  "createTimeStartTimestamp": {
                    "type": "integer",
                    "description": "Millisecond-level Unix timestamp",
                    "format": "int64"
                  },
                  "createTimeEnd": {
                    "type": "string",
                    "description": "yyyy-MM-dd HH:mm:ss.SSS",
                    "format": "date-time"
                  },
                  "createTimeEndTimestamp": {
                    "type": "integer",
                    "description": "Millisecond-level Unix timestamp",
                    "format": "int64"
                  },
                  "transactionMethod": {
                    "type": "string",
                    "description": "Trading Method Enum",
                    "enum": [
                      "CHAIN_TX",
                      "USER_TRANSFER",
                      "OTHER",
                      "CHAIN_TX - On-chain Transaction",
                      "USER_TRANSFER - User-to-User Transfer",
                      "OTHER - Other"
                    ],
                    "example": null
                  }
                },
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "records": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "uid": {
                                "type": "string",
                                "description": "Associated Account Table"
                              },
                              "transactionId": {
                                "type": "string"
                              },
                              "symbolId": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "acSymbol": {
                                "type": "string"
                              },
                              "network": {
                                "type": "string"
                              },
                              "exchangeSymbolId": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "exchangeSymbol": {
                                "type": "string"
                              },
                              "transactionType": {
                                "type": "string",
                                "description": "Trade Type Enum",
                                "enum": [
                                  "RECHARGE",
                                  "WITHDRAWAL",
                                  "TRANSFER_IN",
                                  "TRANSFER_OUT",
                                  "EXCHANGE",
                                  "SAFEBOX_TRANSFER_IN",
                                  "ROLLBACK",
                                  "SAFEBOX_TRANSFER_OUT",
                                  "ADJUSTMENT_ADD",
                                  "ADJUSTMENT_REDUCE",
                                  "MLP_DEPOSIT",
                                  "MLP_WITHDRAWAL",
                                  "TRANSFER_TRADE_TO_SPOT",
                                  "TRANSFER_SPOT_TO_TRADE",
                                  "EARN_DEPOSIT",
                                  "EARN_WITHDRAWAL",
                                  "PROMO_REWARD_IN",
                                  "PROMO_REWARD_OUT",
                                  "RECHARGE - Recharge",
                                  "WITHDRAWAL - Withdrawal",
                                  "TRANSFER_IN - Transfer In",
                                  "TRANSFER_OUT - Transfer Out",
                                  "EXCHANGE - Exchange",
                                  "ROLLBACK - Rollback",
                                  "SAFEBOX_TRANSFER_IN - Transfer into Safebox",
                                  "SAFEBOX_TRANSFER_OUT - Transfer out of Safebox",
                                  "ADJUSTMENT_ADD - Adjustment Increase",
                                  "ADJUSTMENT_REDUCE - Adjustment Decrease",
                                  "MLP_DEPOSIT - MLP Account Deposit",
                                  "MLP_WITHDRAWAL - MLP Account Withdrawal",
                                  "TRANSFER_TRADE_TO_SPOT - Contract to Spot Transfer",
                                  "TRANSFER_SPOT_TO_TRADE - Spot to Contract Transfer",
                                  "EARN_DEPOSIT - Earn Deposit",
                                  "EARN_WITHDRAWAL - Earn Withdrawal",
                                  "PROMO_REWARD_IN - Promo Reward Deposit",
                                  "PROMO_REWARD_OUT - Promo Reward Withdrawal"
                                ],
                                "example": null
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "SUCCESS",
                                  "FAIL",
                                  "PENDING"
                                ]
                              },
                              "amount": {
                                "type": "number"
                              },
                              "amountStr": {
                                "type": "string"
                              },
                              "amountDisplay": {
                                "type": "string"
                              },
                              "amountScale": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "exchangeAmount": {
                                "type": "number"
                              },
                              "exchangeAmountDisplay": {
                                "type": "string"
                              },
                              "fee": {
                                "type": "number"
                              },
                              "feeDisplay": {
                                "type": "string"
                              },
                              "createTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "finishTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "failureReason": {
                                "type": "string"
                              },
                              "errorCode": {
                                "type": "string"
                              },
                              "exchangeRate": {
                                "type": "number"
                              },
                              "convertExchangeRate": {
                                "type": "number"
                              },
                              "rateDisplay": {
                                "type": "string"
                              },
                              "txHash": {
                                "type": "string"
                              },
                              "feeSymbol": {
                                "type": "string"
                              },
                              "sourceAccountType": {
                                "type": "string",
                                "enum": [
                                  "FUND_ACCOUNT",
                                  "TRADING_ACCOUNT",
                                  "SAFE_BOX",
                                  "EXTERNAL_ACCOUNT",
                                  "MLP_ACCOUNT",
                                  "SPOT_ACCOUNT",
                                  "EARN_ACCOUNT"
                                ]
                              },
                              "targetAccountType": {
                                "type": "string",
                                "enum": [
                                  "FUND_ACCOUNT",
                                  "TRADING_ACCOUNT",
                                  "SAFE_BOX",
                                  "EXTERNAL_ACCOUNT",
                                  "MLP_ACCOUNT",
                                  "SPOT_ACCOUNT",
                                  "EARN_ACCOUNT"
                                ]
                              },
                              "sourceAccountId": {
                                "type": "string"
                              },
                              "targetAccountId": {
                                "type": "string"
                              },
                              "sourceWalletAddress": {
                                "type": "string"
                              },
                              "targetWalletAddress": {
                                "type": "string"
                              },
                              "extParams": {
                                "type": "string"
                              },
                              "sourceAccountBalance": {
                                "type": "number"
                              },
                              "targetAccountBalance": {
                                "type": "number"
                              },
                              "fundFlowType": {
                                "type": "string",
                                "enum": [
                                  "CRYPTO_ADDRESS",
                                  "FIAT"
                                ]
                              },
                              "transactionMethod": {
                                "type": "string",
                                "description": "Trading Method Enum",
                                "enum": [
                                  "CHAIN_TX",
                                  "USER_TRANSFER",
                                  "OTHER",
                                  "CHAIN_TX - On-chain Transaction",
                                  "USER_TRANSFER - User-to-User Transfer",
                                  "OTHER - Other"
                                ],
                                "example": null
                              },
                              "recipientUid": {
                                "type": "string",
                                "description": "WITHDRAWAL Has value during user-to-user transfers"
                              },
                              "payerUid": {
                                "type": "string",
                                "description": "RECHARGE Has value during user-to-user transfers"
                              },
                              "finishTimeTimestamp": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "createTimeTimestamp": {
                                "type": "integer",
                                "format": "int64"
                              }
                            },
                            "example": null
                          }
                        },
                        "total": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "size": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "current": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "pages": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "hasPrevious": {
                          "type": "boolean"
                        },
                        "hasNext": {
                          "type": "boolean"
                        }
                      },
                      "example": null
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/transaction/exchange/v2": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Exchange v2, supports price inquiry",
        "description": "Must first call the [Trigger 2FA Verification] API to trigger 2FA verification\nRequired Permission: TRADE",
        "operationId": "exchangeV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "amount",
                  "exchangeSymbol",
                  "quoteSessionId",
                  "symbol",
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "trackingId": {
                    "type": "string",
                    "description": "Unique identifier for tracking the request"
                  },
                  "symbol": {
                    "type": "string",
                    "description": "e.g., BTC/USDT"
                  },
                  "exchangeSymbol": {
                    "type": "string",
                    "description": "e.g., BTC/USDT"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Exchange amount / quantity of the source currency"
                  },
                  "verify2FaTokens": {
                    "type": "array",
                    "description": "List of temporary verification tokens obtained through the 2FA verification API, supporting multiple 2FA types",
                    "items": {
                      "required": [
                        "token",
                        "twoFAType"
                      ],
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": "Temporary verification token obtained through the 2FA verification API"
                        },
                        "twoFAType": {
                          "type": "string",
                          "description": "Authenticator Type",
                          "enum": [
                            "SMS",
                            "GA",
                            "EMAIL"
                          ]
                        }
                      },
                      "description": "List of temporary verification tokens obtained through the 2FA verification API, supporting multiple 2FA types",
                      "example": null
                    }
                  },
                  "quoteSessionId": {
                    "type": "string",
                    "description": "asw1w123a"
                  }
                },
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/transaction/account/record/page": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Paginated Query of Fund Flow Records",
        "description": "Required Permission: READ",
        "operationId": "accountRecordPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "size": {
                    "type": "integer",
                    "format": "int64",
                    "example": 10
                  },
                  "current": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1
                  },
                  "orderBy": {
                    "type": "string",
                    "description": "Supports multi-field sorting, separated by commas",
                    "example": "id,createTime"
                  },
                  "orderDirection": {
                    "type": "string",
                    "description": "ASC for ascending / DESC for descending; separate multiple fields with commas",
                    "example": "DESC,ASC",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "trackingId": {
                    "type": "string",
                    "description": "Unique identifier for tracking the request"
                  },
                  "symbolId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "exchangeSymbolId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "transactionType": {
                    "type": "string",
                    "description": "Trade Type Enum",
                    "enum": [
                      "RECHARGE",
                      "WITHDRAWAL",
                      "TRANSFER_IN",
                      "TRANSFER_OUT",
                      "EXCHANGE",
                      "SAFEBOX_TRANSFER_IN",
                      "ROLLBACK",
                      "SAFEBOX_TRANSFER_OUT",
                      "ADJUSTMENT_ADD",
                      "ADJUSTMENT_REDUCE",
                      "MLP_DEPOSIT",
                      "MLP_WITHDRAWAL",
                      "TRANSFER_TRADE_TO_SPOT",
                      "TRANSFER_SPOT_TO_TRADE",
                      "EARN_DEPOSIT",
                      "EARN_WITHDRAWAL",
                      "PROMO_REWARD_IN",
                      "PROMO_REWARD_OUT",
                      "RECHARGE - Recharge",
                      "WITHDRAWAL - Withdrawal",
                      "TRANSFER_IN - Transfer In",
                      "TRANSFER_OUT - Transfer Out",
                      "EXCHANGE - Exchange",
                      "ROLLBACK - Rollback",
                      "SAFEBOX_TRANSFER_IN - Transfer into Safebox",
                      "SAFEBOX_TRANSFER_OUT - Transfer out of Safebox",
                      "ADJUSTMENT_ADD - Adjustment Increase",
                      "ADJUSTMENT_REDUCE - Adjustment Decrease",
                      "MLP_DEPOSIT - MLP Account Deposit",
                      "MLP_WITHDRAWAL - MLP Account Withdrawal",
                      "TRANSFER_TRADE_TO_SPOT - Contract to Spot Transfer",
                      "TRANSFER_SPOT_TO_TRADE - Spot to Contract Transfer",
                      "EARN_DEPOSIT - Earn Deposit",
                      "EARN_WITHDRAWAL - Earn Withdrawal",
                      "PROMO_REWARD_IN - Promo Reward Deposit",
                      "PROMO_REWARD_OUT - Promo Reward Withdrawal"
                    ],
                    "example": null
                  },
                  "transactionTypes": {
                    "type": "array",
                    "description": "Only takes effect when transactionType==null",
                    "items": {
                      "type": "string",
                      "description": "Trade Type Enum",
                      "enum": [
                        "RECHARGE",
                        "WITHDRAWAL",
                        "TRANSFER_IN",
                        "TRANSFER_OUT",
                        "EXCHANGE",
                        "SAFEBOX_TRANSFER_IN",
                        "ROLLBACK",
                        "SAFEBOX_TRANSFER_OUT",
                        "ADJUSTMENT_ADD",
                        "ADJUSTMENT_REDUCE",
                        "MLP_DEPOSIT",
                        "MLP_WITHDRAWAL",
                        "TRANSFER_TRADE_TO_SPOT",
                        "TRANSFER_SPOT_TO_TRADE",
                        "EARN_DEPOSIT",
                        "EARN_WITHDRAWAL",
                        "PROMO_REWARD_IN",
                        "PROMO_REWARD_OUT",
                        "RECHARGE - Recharge",
                        "WITHDRAWAL - Withdrawal",
                        "TRANSFER_IN - Transfer In",
                        "TRANSFER_OUT - Transfer Out",
                        "EXCHANGE - Exchange",
                        "ROLLBACK - Rollback",
                        "SAFEBOX_TRANSFER_IN - Transfer into Safebox",
                        "SAFEBOX_TRANSFER_OUT - Transfer out of Safebox",
                        "ADJUSTMENT_ADD - Adjustment Increase",
                        "ADJUSTMENT_REDUCE - Adjustment Decrease",
                        "MLP_DEPOSIT - MLP Account Deposit",
                        "MLP_WITHDRAWAL - MLP Account Withdrawal",
                        "TRANSFER_TRADE_TO_SPOT - Contract to Spot Transfer",
                        "TRANSFER_SPOT_TO_TRADE - Spot to Contract Transfer",
                        "EARN_DEPOSIT - Earn Deposit",
                        "EARN_WITHDRAWAL - Earn Withdrawal",
                        "PROMO_REWARD_IN - Promo Reward Deposit",
                        "PROMO_REWARD_OUT - Promo Reward Withdrawal"
                      ],
                      "example": null
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "SUCCESS",
                      "FAIL",
                      "PENDING"
                    ]
                  },
                  "statuses": {
                    "type": "array",
                    "description": "Only takes effect when status==null",
                    "items": {
                      "type": "string",
                      "description": "Only takes effect when status==null",
                      "enum": [
                        "SUCCESS",
                        "FAIL",
                        "PENDING"
                      ]
                    }
                  },
                  "createTimeStart": {
                    "type": "string",
                    "description": "yyyy-MM-dd HH:mm:ss.SSS",
                    "format": "date-time"
                  },
                  "createTimeStartTimestamp": {
                    "type": "integer",
                    "description": "Millisecond-level Unix timestamp",
                    "format": "int64"
                  },
                  "createTimeEnd": {
                    "type": "string",
                    "description": "yyyy-MM-dd HH:mm:ss.SSS",
                    "format": "date-time"
                  },
                  "createTimeEndTimestamp": {
                    "type": "integer",
                    "description": "Millisecond-level Unix timestamp",
                    "format": "int64"
                  },
                  "transactionMethod": {
                    "type": "string",
                    "description": "Trading Method Enum",
                    "enum": [
                      "CHAIN_TX",
                      "USER_TRANSFER",
                      "OTHER",
                      "CHAIN_TX - On-chain Transaction",
                      "USER_TRANSFER - User-to-User Transfer",
                      "OTHER - Other"
                    ],
                    "example": null
                  }
                },
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "records": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "uid": {
                                "type": "string",
                                "description": "Associated Account Table"
                              },
                              "transactionId": {
                                "type": "string"
                              },
                              "symbolId": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "acSymbol": {
                                "type": "string"
                              },
                              "network": {
                                "type": "string"
                              },
                              "exchangeSymbolId": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "exchangeSymbol": {
                                "type": "string"
                              },
                              "transactionType": {
                                "type": "string",
                                "description": "Trade Type Enum",
                                "enum": [
                                  "RECHARGE",
                                  "WITHDRAWAL",
                                  "TRANSFER_IN",
                                  "TRANSFER_OUT",
                                  "EXCHANGE",
                                  "SAFEBOX_TRANSFER_IN",
                                  "ROLLBACK",
                                  "SAFEBOX_TRANSFER_OUT",
                                  "ADJUSTMENT_ADD",
                                  "ADJUSTMENT_REDUCE",
                                  "MLP_DEPOSIT",
                                  "MLP_WITHDRAWAL",
                                  "TRANSFER_TRADE_TO_SPOT",
                                  "TRANSFER_SPOT_TO_TRADE",
                                  "EARN_DEPOSIT",
                                  "EARN_WITHDRAWAL",
                                  "PROMO_REWARD_IN",
                                  "PROMO_REWARD_OUT",
                                  "RECHARGE - Recharge",
                                  "WITHDRAWAL - Withdrawal",
                                  "TRANSFER_IN - Transfer In",
                                  "TRANSFER_OUT - Transfer Out",
                                  "EXCHANGE - Exchange",
                                  "ROLLBACK - Rollback",
                                  "SAFEBOX_TRANSFER_IN - Transfer into Safebox",
                                  "SAFEBOX_TRANSFER_OUT - Transfer out of Safebox",
                                  "ADJUSTMENT_ADD - Adjustment Increase",
                                  "ADJUSTMENT_REDUCE - Adjustment Decrease",
                                  "MLP_DEPOSIT - MLP Account Deposit",
                                  "MLP_WITHDRAWAL - MLP Account Withdrawal",
                                  "TRANSFER_TRADE_TO_SPOT - Contract to Spot Transfer",
                                  "TRANSFER_SPOT_TO_TRADE - Spot to Contract Transfer",
                                  "EARN_DEPOSIT - Earn Deposit",
                                  "EARN_WITHDRAWAL - Earn Withdrawal",
                                  "PROMO_REWARD_IN - Promo Reward Deposit",
                                  "PROMO_REWARD_OUT - Promo Reward Withdrawal"
                                ],
                                "example": null
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "SUCCESS",
                                  "FAIL",
                                  "PENDING"
                                ]
                              },
                              "amount": {
                                "type": "number"
                              },
                              "amountStr": {
                                "type": "string"
                              },
                              "amountDisplay": {
                                "type": "string"
                              },
                              "amountScale": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "exchangeAmount": {
                                "type": "number"
                              },
                              "exchangeAmountDisplay": {
                                "type": "string"
                              },
                              "fee": {
                                "type": "number"
                              },
                              "feeDisplay": {
                                "type": "string"
                              },
                              "createTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "finishTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "failureReason": {
                                "type": "string"
                              },
                              "errorCode": {
                                "type": "string"
                              },
                              "exchangeRate": {
                                "type": "number"
                              },
                              "convertExchangeRate": {
                                "type": "number"
                              },
                              "rateDisplay": {
                                "type": "string"
                              },
                              "txHash": {
                                "type": "string"
                              },
                              "feeSymbol": {
                                "type": "string"
                              },
                              "sourceAccountType": {
                                "type": "string",
                                "enum": [
                                  "FUND_ACCOUNT",
                                  "TRADING_ACCOUNT",
                                  "SAFE_BOX",
                                  "EXTERNAL_ACCOUNT",
                                  "MLP_ACCOUNT",
                                  "SPOT_ACCOUNT",
                                  "EARN_ACCOUNT"
                                ]
                              },
                              "targetAccountType": {
                                "type": "string",
                                "enum": [
                                  "FUND_ACCOUNT",
                                  "TRADING_ACCOUNT",
                                  "SAFE_BOX",
                                  "EXTERNAL_ACCOUNT",
                                  "MLP_ACCOUNT",
                                  "SPOT_ACCOUNT",
                                  "EARN_ACCOUNT"
                                ]
                              },
                              "sourceAccountId": {
                                "type": "string"
                              },
                              "targetAccountId": {
                                "type": "string"
                              },
                              "sourceWalletAddress": {
                                "type": "string"
                              },
                              "targetWalletAddress": {
                                "type": "string"
                              },
                              "extParams": {
                                "type": "string"
                              },
                              "sourceAccountBalance": {
                                "type": "number"
                              },
                              "targetAccountBalance": {
                                "type": "number"
                              },
                              "fundFlowType": {
                                "type": "string",
                                "enum": [
                                  "CRYPTO_ADDRESS",
                                  "FIAT"
                                ]
                              },
                              "transactionMethod": {
                                "type": "string",
                                "description": "Trading Method Enum",
                                "enum": [
                                  "CHAIN_TX",
                                  "USER_TRANSFER",
                                  "OTHER",
                                  "CHAIN_TX - On-chain Transaction",
                                  "USER_TRANSFER - User-to-User Transfer",
                                  "OTHER - Other"
                                ],
                                "example": null
                              },
                              "recipientUid": {
                                "type": "string",
                                "description": "WITHDRAWAL Has value during user-to-user transfers"
                              },
                              "payerUid": {
                                "type": "string",
                                "description": "RECHARGE Has value during user-to-user transfers"
                              },
                              "finishTimeTimestamp": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "createTimeTimestamp": {
                                "type": "integer",
                                "format": "int64"
                              }
                            },
                            "example": null
                          }
                        },
                        "total": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "size": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "current": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "pages": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "hasPrevious": {
                          "type": "boolean"
                        },
                        "hasNext": {
                          "type": "boolean"
                        }
                      },
                      "example": null
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/mlp/account/withdraw": {
      "post": {
        "tags": [
          "MLP Account"
        ],
        "summary": "MLP Account Withdrawal",
        "description": "MLP account withdrawal: transfer from MLP account to fund account, then to trading account. Deducts principal first, then yield\nRequired Permission: TRADE",
        "operationId": "mlpWithdraw",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "amount",
                  "symbolId",
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "trackingId": {
                    "type": "string",
                    "description": "Unique identifier for tracking the request"
                  },
                  "symbolId": {
                    "type": "string",
                    "description": "Associated ac_symbol Table"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Withdrawal Amount"
                  }
                },
                "description": "MLP Account Withdrawal Request",
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/mlp/account/deposit": {
      "post": {
        "tags": [
          "MLP Account"
        ],
        "summary": "MLP Account Deposit",
        "description": "MLP account deposit: transfer from trading account to fund account, then deposit into MLP account\nRequired Permission: TRADE",
        "operationId": "mlpDeposit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "amount",
                  "symbolId",
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "trackingId": {
                    "type": "string",
                    "description": "Unique identifier for tracking the request"
                  },
                  "symbolId": {
                    "type": "string",
                    "description": "Associated ac_symbol Table"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Deposit Amount"
                  }
                },
                "description": "MLP Account Deposit Request",
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/finance/account/withdraw": {
      "post": {
        "tags": [
          "Wealth Management Account"
        ],
        "summary": "Wealth Account Withdrawal (Flexible)",
        "description": "Only supports demand products: pass product code and withdrawal amount, transfer from wealth to fund account then to spot. For term positions with multiple entries, use the 'Term Position Withdrawal' API and specify the position detail ID\nRequired Permission: TRADE",
        "operationId": "withdraw",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "amount",
                  "productCode",
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "trackingId": {
                    "type": "string",
                    "description": "Unique identifier for tracking the request"
                  },
                  "productCode": {
                    "type": "string",
                    "description": "Demand Wealth Product Code"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Withdrawal Amount"
                  }
                },
                "description": "Wealth account demand withdrawal request",
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/finance/account/withdraw/fixed": {
      "post": {
        "tags": [
          "Wealth Management Account"
        ],
        "summary": "Wealth Term Position Withdrawal",
        "description": "Only supports term products: specify position detail ID (holding or matured; consistent with the current position API's positionId). Backend redeems the full principal + interest for that entry. Workflow is consistent with demand withdrawal\nRequired Permission: TRADE",
        "operationId": "withdrawFixed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "positionId",
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "trackingId": {
                    "type": "string",
                    "description": "Unique identifier for tracking the request"
                  },
                  "positionId": {
                    "type": "integer",
                    "description": "Term position primary key ID (can be redeemed whether holding or matured; consistent with positionId returned by the current position API)",
                    "format": "int64"
                  }
                },
                "description": "Term wealth position withdrawal request",
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/finance/account/deposit": {
      "post": {
        "tags": [
          "Wealth Management Account"
        ],
        "summary": "Wealth Account Deposit",
        "description": "Wealth account deposit: transfer from spot account to fund account, then deposit into wealth product\nRequired Permission: TRADE",
        "operationId": "deposit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "amount",
                  "productCode",
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "trackingId": {
                    "type": "string",
                    "description": "Unique identifier for tracking the request"
                  },
                  "productCode": {
                    "type": "string",
                    "description": "Wealth product code, e.g., USDT_CURRENT"
                  },
                  "amount": {
                    "type": "number",
                    "description": "Deposit Amount"
                  }
                },
                "description": "Wealth Account Deposit Request",
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/symbol/list": {
      "get": {
        "tags": [
          "Currency"
        ],
        "summary": "Query Currency Network List",
        "description": "Required Permission: READ",
        "operationId": "list",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbolId": {
                            "type": "integer",
                            "description": "Currency ID",
                            "format": "int64"
                          },
                          "assetType": {
                            "type": "string",
                            "description": "Currency Type",
                            "enum": [
                              "CRYPTO",
                              "FIAT"
                            ]
                          },
                          "symbol": {
                            "type": "string",
                            "description": "Currency Name"
                          },
                          "network": {
                            "type": "string",
                            "description": "Currency Network Protocol"
                          },
                          "minTradeUnit": {
                            "type": "number",
                            "description": "Minimum Transfer Unit"
                          },
                          "pricePrecision": {
                            "type": "integer",
                            "description": "Price Precision",
                            "format": "int32"
                          },
                          "exchangeRate": {
                            "type": "number",
                            "description": "Exchange Rate"
                          },
                          "minRechargeAmount": {
                            "type": "number"
                          },
                          "minWithdrawAmount": {
                            "type": "number"
                          },
                          "assetNet": {
                            "type": "string"
                          },
                          "iconData": {
                            "type": "string"
                          },
                          "depositStatus": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "withdrawalStatus": {
                            "type": "integer",
                            "format": "int32"
                          }
                        },
                        "description": "Currency Network Information",
                        "example": null
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/symbol/exchange/list": {
      "get": {
        "tags": [
          "Currency"
        ],
        "summary": "Query Exchangeable Currency List",
        "description": "Required Permission: READ",
        "operationId": "exchangeList",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbolId": {
                            "type": "integer",
                            "description": "Currency ID",
                            "format": "int64"
                          },
                          "symbolType": {
                            "type": "string",
                            "description": "Currency Type",
                            "enum": [
                              "CRYPTO",
                              "FIAT"
                            ]
                          },
                          "symbol": {
                            "type": "string",
                            "description": "Currency Name"
                          },
                          "minTradeUnit": {
                            "type": "number",
                            "description": "Minimum Transfer Unit"
                          },
                          "pricePrecision": {
                            "type": "integer",
                            "description": "Price Precision",
                            "format": "int32"
                          },
                          "exchangeRate": {
                            "type": "number",
                            "description": "Exchange Rate"
                          },
                          "minExchangeAmount": {
                            "type": "number"
                          },
                          "exchangeOutStatus": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "exchangeInStatus": {
                            "type": "integer",
                            "format": "int32"
                          }
                        },
                        "example": null
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/symbol/detail/{id}": {
      "get": {
        "tags": [
          "Currency"
        ],
        "summary": "Query Currency Details",
        "description": "Required Permission: READ",
        "operationId": "detail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Currency ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "symbolId": {
                          "type": "integer",
                          "description": "Currency ID",
                          "format": "int64"
                        },
                        "assetType": {
                          "type": "string",
                          "description": "Currency Type",
                          "enum": [
                            "CRYPTO",
                            "FIAT"
                          ]
                        },
                        "symbol": {
                          "type": "string",
                          "description": "Currency Name"
                        },
                        "network": {
                          "type": "string",
                          "description": "Currency Network Protocol"
                        },
                        "minTradeUnit": {
                          "type": "number",
                          "description": "Minimum Transfer Unit"
                        },
                        "pricePrecision": {
                          "type": "integer",
                          "description": "Price Precision",
                          "format": "int32"
                        },
                        "exchangeRate": {
                          "type": "number",
                          "description": "Exchange Rate"
                        },
                        "minRechargeAmount": {
                          "type": "number"
                        },
                        "minWithdrawAmount": {
                          "type": "number"
                        },
                        "assetNet": {
                          "type": "string"
                        },
                        "iconData": {
                          "type": "string"
                        },
                        "depositStatus": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "withdrawalStatus": {
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "description": "Currency Network Information",
                      "example": null
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/search/app": {
      "get": {
        "tags": [
          "App Global Search"
        ],
        "summary": "App Global Search",
        "description": "Required Permission: READ",
        "operationId": "search",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tab",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "keyword": {
                          "type": "string"
                        },
                        "tab": {
                          "type": "string",
                          "enum": [
                            "ALL",
                            "SPOT",
                            "CONTRACT",
                            "CRYPTO",
                            "TRADFI"
                          ]
                        },
                        "groups": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "groupType": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "hasMore": {
                                "type": "boolean"
                              },
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "itemType": {
                                      "type": "string",
                                      "enum": [
                                        "TRADE_SYMBOL",
                                        "DEPOSIT",
                                        "CONVERT",
                                        "EARN_PRODUCT"
                                      ]
                                    },
                                    "itemId": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "subtitle": {
                                      "type": "string"
                                    },
                                    "symbol": {
                                      "type": "string"
                                    },
                                    "groupKey": {
                                      "type": "string"
                                    },
                                    "payload": {
                                      "type": "object"
                                    }
                                  },
                                  "example": null
                                }
                              }
                            },
                            "example": null
                          }
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "itemType": {
                                "type": "string",
                                "enum": [
                                  "TRADE_SYMBOL",
                                  "DEPOSIT",
                                  "CONVERT",
                                  "EARN_PRODUCT"
                                ]
                              },
                              "itemId": {
                                "type": "string"
[...]
