{
  "openapi": "3.0.1",
  "info": {
    "title": "mc-trade",
    "description": "Authentication Center\n\nThis spec only includes interfaces annotated with @OpenApiPermission, i.e., the public OpenAPI subset exposed to end users/integrators and accessed via API Gateway using Access Key / Secret Key (AK/SK) signature authentication. It excludes backend Admin, internal Feign, and other non-exposed interfaces.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://springdoc.org"
    },
    "version": "v0.0.1"
  },
  "externalDocs": {
    "description": "mc-trade Wiki Documentation",
    "url": ""
  },
  "servers": [
    {
      "url": "https://gateway.mcconnects.com",
      "description": "Production API Gateway"
    }
  ],
  "security": [
    {
      "McAccessKey": [],
      "McSignature": [],
      "McTimestamp": [],
      "McNonce": []
    }
  ],
  "paths": {
    "/openapi/v1/mc-trade/trade/positions/modify": {
      "put": {
        "tags": [
          "Trade"
        ],
        "summary": "Modify Position",
        "description": "Required Permission: TRADE",
        "operationId": "updateTradePosition",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "login",
                  "order",
                  "symbol",
                  "type"
                ],
                "type": "object",
                "properties": {
                  "login": {
                    "type": "string",
                    "description": "MT5 Contract Account ID / Spot Account ID",
                    "example": "60349871"
                  },
                  "order": {
                    "type": "integer",
                    "description": "Order ID",
                    "format": "int64",
                    "example": 1250
                  },
                  "symbol": {
                    "type": "string",
                    "description": "Trading pair, e.g., BTCUSDT. Only valid when placing an order",
                    "example": "BTCUSDT"
                  },
                  "type": {
                    "type": "integer",
                    "description": "Order Type\n\"0-OP_BUY: Market buy\",\n\"1-OP_SELL: Market sell\",\n\"2-OP_BUY_LIMIT: Buy limit pending order\",\n\"3-OP_SELL_LIMIT: Sell limit pending order\",\n\"4-OP_BUY_STOP: Buy stop pending order\",\n\"5-OP_SELL_STOP: Sell stop pending order\",\n\"6-OP_BUY_STOP_LIMIT: Buy stop limit pending order\",\n\"7-OP_SELL_STOP_LIMIT: Sell stop limit pending order\",\n\"8-OP_CLOSE_BY: Close by order, only applicable to hedging mode\"\n",
                    "format": "int32",
                    "example": 0
                  },
                  "priceSL": {
                    "type": "number",
                    "description": "New stop loss price",
                    "example": 100.5
                  },
                  "priceTP": {
                    "type": "number",
                    "description": "New take profit price",
                    "example": 30000
                  }
                },
                "description": "Modify Position Request",
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MT5 Return Status Code"
                        },
                        "orderId": {
                          "type": "string",
                          "description": "MT5 Order ID (if any)"
                        },
                        "params": {
                          "type": "object",
                          "description": "MT5 return parameters (passed through to frontend or for business logic processing)"
                        }
                      },
                      "description": "MtRisk Trading Instruction Response",
                      "example": null
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-trade/trade/orders/modify": {
      "put": {
        "tags": [
          "Trade"
        ],
        "summary": "Order Action: Modify Order",
        "description": "Required Permission: TRADE",
        "operationId": "updateTradeOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "expiration",
                  "login",
                  "order",
                  "price",
                  "priceSL",
                  "priceTP",
                  "priceTrigger",
                  "symbol",
                  "type",
                  "typeTime",
                  "volumeExt"
                ],
                "type": "object",
                "properties": {
                  "login": {
                    "type": "string",
                    "description": "MT5 Contract Account ID / Spot Account ID",
                    "example": "60349871"
                  },
                  "symbol": {
                    "type": "string",
                    "description": "Trading pair, e.g., BTCUSDT. Only valid when placing an order",
                    "example": "BTCUSDT"
                  },
                  "price": {
                    "type": "number",
                    "description": "Order Price",
                    "example": 30000
                  },
                  "type": {
                    "type": "integer",
                    "description": "Order Type\n\"0-OP_BUY: Market buy\",\n\"1-OP_SELL: Market sell\",\n\"2-OP_BUY_LIMIT: Buy limit pending order\",\n\"3-OP_SELL_LIMIT: Sell limit pending order\",\n\"4-OP_BUY_STOP: Buy stop pending order\",\n\"5-OP_SELL_STOP: Sell stop pending order\",\n\"6-OP_BUY_STOP_LIMIT: Buy stop limit pending order\",\n\"7-OP_SELL_STOP_LIMIT: Sell stop limit pending order\",\n\"8-OP_CLOSE_BY: Close by order, only applicable to hedging mode\"\n",
                    "format": "int32",
                    "example": 0
                  },
                  "typeTime": {
                    "type": "integer",
                    "description": "Time validity type. Defaults to 0 if not provided\",\n\"0-GTC (Good Till Cancel)\",\n\"1-GTD (Good Till Day - valid for the day)\",\n\"2-Specified time\",\n\"3-Specified day. Expiry time is 00:00 of the specified day or the nearest trading time\"\n",
                    "format": "int32",
                    "example": 0
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Expiry timestamp (required when typeTime=2)",
                    "format": "int64",
                    "example": 1757647896769
                  },
                  "priceTrigger": {
                    "type": "number",
                    "description": "Stop Limit Order Trigger Price",
                    "example": 29000
                  },
                  "priceSL": {
                    "type": "number",
                    "description": "Stop Loss",
                    "example": 31000
                  },
                  "priceTP": {
                    "type": "number",
                    "description": "Take Profit",
                    "example": 32000
                  },
                  "order": {
                    "type": "integer",
                    "description": "Order ID",
                    "format": "int64",
                    "example": 1250
                  },
                  "volumeExt": {
                    "type": "integer",
                    "description": "Volume, value scaled by 10^8. For 1 lot, pass 1 * 100000000. Must match the volumeExt passed when placing the order",
                    "format": "int64",
                    "example": 2100000000
                  }
                },
                "description": "Create Trade Order Request",
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MT5 Return Status Code"
                        },
                        "orderId": {
                          "type": "string",
                          "description": "MT5 Order ID (if any)"
                        },
                        "params": {
                          "type": "object",
                          "description": "MT5 return parameters (passed through to frontend or for business logic processing)"
                        }
                      },
                      "description": "MtRisk Trading Instruction Response",
                      "example": null
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-trade/trade/orders/create": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Order Action: Place Order",
        "description": "Required Permission: TRADE",
        "operationId": "createTradeOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "login",
                  "symbol",
                  "type",
                  "typeFill",
                  "volumeExt"
                ],
                "type": "object",
                "properties": {
                  "login": {
                    "type": "string",
                    "description": "MT5 Contract Account ID / Spot Account ID",
                    "example": "60349871"
                  },
                  "symbol": {
                    "type": "string",
                    "description": "Trading pair, e.g., BTCUSDT",
                    "example": "BTCUSDT"
                  },
                  "volumeExt": {
                    "type": "integer",
                    "description": "Volume, value scaled by 10^8. For 1 lot, pass 1 * 100000000",
                    "format": "int64",
                    "example": 2100000000
                  },
                  "price": {
                    "type": "number",
                    "description": "Order price. Defaults to 0 if not provided: 0 means market price, other values mean limit price",
                    "example": 30000
                  },
                  "type": {
                    "type": "integer",
                    "description": "Order Type\n\"0-OP_BUY: Market buy\",\n\"1-OP_SELL: Market sell\",\n\"2-OP_BUY_LIMIT: Buy limit pending order\",\n\"3-OP_SELL_LIMIT: Sell limit pending order\",\n\"4-OP_BUY_STOP: Buy stop pending order\",\n\"5-OP_SELL_STOP: Sell stop pending order\",\n\"6-OP_BUY_STOP_LIMIT: Buy stop limit pending order\",\n\"7-OP_SELL_STOP_LIMIT: Sell stop limit pending order\",\n\"8-OP_CLOSE_BY: Close by order, only applicable to hedging mode\"\n",
                    "format": "int32",
                    "example": 0
                  },
                  "position": {
                    "type": "integer",
                    "description": "Position ID, defaults to 0",
                    "format": "int64",
                    "example": 31000
                  },
                  "typeFill": {
                    "type": "integer",
                    "description": "Deal Type\n\"0-Fill or Kill (FOK). Order must be fully filled or canceled immediately; partial fills are not kept.\",\n\"1-Immediate or Cancel (IOC). Order can be partially filled, and the remaining unfilled volume is automatically canceled.\",\n\"2-Return to Queue. This mode is used for pending orders (e.g., limit orders, stop orders), only supports “exchange-executed market order” scenarios: unfilled portions are returned to the order queue to wait for subsequent execution.\",\n\"3-BOC (Book or Cancel). Order can only be submitted in the market depth (order book). If immediately fillable when placed, it is canceled directly.<\"\n",
                    "format": "int32",
                    "example": 0
                  },
                  "typeTime": {
                    "type": "integer",
                    "description": "Time validity type. Defaults to 0 if not provided\",\n\"0-GTC (Good Till Cancel)\",\n\"1-GTD (Good Till Day - valid for the day)\",\n\"2-Specified time\",\n\"3-Specified day. Expiry time is 00:00 of the specified day or the nearest trading time\"\n",
                    "format": "int32",
                    "example": 0
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Expiry timestamp (required when typeTime=2). Defaults to 0 if not passed, meaning no auto-expiry",
                    "format": "int64",
                    "example": 1757647896769
                  },
                  "priceTrigger": {
                    "type": "number",
                    "description": "Stop limit order trigger price. Defaults to 0 if not passed",
                    "example": 29000
                  },
                  "priceSL": {
                    "type": "number",
                    "description": "Stop Loss",
                    "example": 31000
                  },
                  "priceTP": {
                    "type": "number",
                    "description": "Take Profit",
                    "example": 32000
                  },
                  "userSlippageLimit": {
                    "type": "number",
                    "description": "Maximum slippage limit set by user for market orders (only valid for market orders)"
                  },
                  "frontMarketPrice": {
                    "type": "number",
                    "description": "Front-end market reference price (optional), must not be less than 0",
                    "example": 30000.5
                  }
                },
                "description": "Create Trade Order Request",
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MT5 Return Status Code"
                        },
                        "orderId": {
                          "type": "string",
                          "description": "MT5 Order ID (if any)"
                        },
                        "params": {
                          "type": "object",
                          "description": "MT5 return parameters (passed through to frontend or for business logic processing)"
                        }
                      },
                      "description": "MtRisk Trading Instruction Response",
                      "example": null
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-trade/trade/orders/close": {
      "post": {
        "tags": [
          "Trade"
        ],
        "summary": "Order Action: Close Position",
        "description": "Required Permission: TRADE",
        "operationId": "closeTradeOrder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "login",
                  "symbol",
                  "type",
                  "typeFill",
                  "volumeExt"
                ],
                "type": "object",
                "properties": {
                  "login": {
                    "type": "string",
                    "description": "MT5 Contract Account ID / Spot Account ID",
                    "example": "60349871"
                  },
                  "symbol": {
                    "type": "string",
                    "description": "Trading pair, e.g., BTCUSDT",
                    "example": "BTCUSDT"
                  },
                  "volumeExt": {
                    "type": "integer",
                    "description": "Volume, value scaled by 10^8. For 1 lot, pass 1 * 100000000",
                    "format": "int64",
                    "example": 2100000000
                  },
                  "price": {
                    "type": "number",
                    "description": "Order price. Defaults to 0 if not provided: 0 means market price, other values mean limit price",
                    "example": 30000
                  },
                  "type": {
                    "type": "integer",
                    "description": "Order Type\n\"0-OP_BUY: Market buy\",\n\"1-OP_SELL: Market sell\",\n\"2-OP_BUY_LIMIT: Buy limit pending order\",\n\"3-OP_SELL_LIMIT: Sell limit pending order\",\n\"4-OP_BUY_STOP: Buy stop pending order\",\n\"5-OP_SELL_STOP: Sell stop pending order\",\n\"6-OP_BUY_STOP_LIMIT: Buy stop limit pending order\",\n\"7-OP_SELL_STOP_LIMIT: Sell stop limit pending order\",\n\"8-OP_CLOSE_BY: Close by order, only applicable to hedging mode\"\n",
                    "format": "int32",
                    "example": 0
                  },
                  "position": {
                    "type": "integer",
                    "description": "Position ID, defaults to 0",
                    "format": "int64",
                    "example": 31000
                  },
                  "typeFill": {
                    "type": "integer",
                    "description": "Deal Type\n\"0-Fill or Kill (FOK). Order must be fully filled or canceled immediately; partial fills are not kept.\",\n\"1-Immediate or Cancel (IOC). Order can be partially filled, and the remaining unfilled volume is automatically canceled.\",\n\"2-Return to Queue. This mode is used for pending orders (e.g., limit orders, stop orders), only supports “exchange-executed market order” scenarios: unfilled portions are returned to the order queue to wait for subsequent execution.\",\n\"3-BOC (Book or Cancel). Order can only be submitted in the market depth (order book). If immediately fillable when placed, it is canceled directly.<\"\n",
                    "format": "int32",
                    "example": 0
                  },
                  "typeTime": {
                    "type": "integer",
                    "description": "Time validity type. Defaults to 0 if not provided\",\n\"0-GTC (Good Till Cancel)\",\n\"1-GTD (Good Till Day - valid for the day)\",\n\"2-Specified time\",\n\"3-Specified day. Expiry time is 00:00 of the specified day or the nearest trading time\"\n",
                    "format": "int32",
                    "example": 0
                  },
                  "expiration": {
                    "type": "integer",
                    "description": "Expiry timestamp (required when typeTime=2). Defaults to 0 if not passed, meaning no auto-expiry",
                    "format": "int64",
                    "example": 1757647896769
                  },
                  "priceTrigger": {
                    "type": "number",
                    "description": "Stop limit order trigger price. Defaults to 0 if not passed",
                    "example": 29000
                  },
                  "priceSL": {
                    "type": "number",
                    "description": "Stop Loss",
                    "example": 31000
                  },
                  "priceTP": {
                    "type": "number",
                    "description": "Take Profit",
                    "example": 32000
                  },
                  "frontMarketPrice": {
                    "type": "number",
                    "description": "Front-end market reference price (optional), must not be less than 0",
                    "example": 30000.5
                  }
                },
                "description": "Create Trade Order Request",
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "MT5 Return Status Code"
                        },
                        "orderId": {
                          "type": "string",
                          "description": "MT5 Order ID (if any)"
                        },
                        "params": {
                          "type": "object",
                          "description": "MT5 return parameters (passed through to frontend or for business logic processing)"
                        }
                      },
                      "description": "MtRisk Trading Instruction Response",
                      "example": null
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-trade/trade/symbol/staticConfig": {
      "get": {
        "tags": [
          "Trade"
        ],
        "summary": "Trading Symbol Information",
        "description": "Required Permission: Public Access",
        "operationId": "staticConfigBySymbol",
        "parameters": [
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": {
                            "type": "string"
                          },
                          "mt5": {
                            "type": "object",
                            "properties": {
                              "Category": {
                                "type": "string"
                              },
                              "ContractSize": {
                                "type": "number",
                                "format": "double"
                              },
                              "CurrencyBase": {
                                "type": "string"
                              },
                              "CurrencyBaseDigits": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "CurrencyMargin": {
                                "type": "string"
                              },
                              "CurrencyMarginDigits": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "CurrencyProfit": {
                                "type": "string"
                              },
                              "CurrencyProfitDigits": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "Digits": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "FreezeLevel": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "IESlipLosing": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "IESlipProfit": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "IEVolumeMaxExt": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "International": {
                                "type": "string"
                              },
                              "MarginFlags": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "MarginHedged": {
                                "type": "number",
                                "format": "double"
                              },
                              "MarginInitial": {
                                "type": "number",
                                "format": "double"
                              },
                              "MarginMaintenance": {
                                "type": "number",
                                "format": "double"
                              },
                              "MarginRateCurrency": {
                                "type": "number",
                                "format": "double"
                              },
                              "MarginRateLiquidity": {
                                "type": "number",
                                "format": "double"
                              },
                              "OrderFlags": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "Path": {
                                "type": "string"
                              },
                              "PriceLimitMax": {
                                "type": "number",
                                "format": "double"
                              },
                              "PriceLimitMin": {
                                "type": "number",
                                "format": "double"
                              },
                              "PriceSettle": {
                                "type": "number",
                                "format": "double"
                              },
                              "SessionTrade": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "quote": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "from": {
                                            "type": "string"
                                          },
                                          "to": {
                                            "type": "string"
                                          }
                                        },
                                        "example": null
                                      }
                                    },
                                    "trade": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "from": {
                                            "type": "string"
                                          },
                                          "to": {
                                            "type": "string"
                                          }
                                        },
                                        "example": null
                                      }
                                    },
                                    "weekDay": {
                                      "type": "string"
                                    }
                                  },
                                  "example": null
                                }
                              },
                              "Source": {
                                "type": "string"
                              },
                              "StopsLevel": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "TickBookDepth": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "TimeExpiration": {
                                "type": "string"
                              },
                              "TimeStart": {
                                "type": "string"
                              },
                              "TradeMode": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "Spread": {
                                "type": "number"
                              },
                              "VolumeLimitExt": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "VolumeMaxExt": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "VolumeMinExt": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "VolumeStepExt": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "leverageGrade": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "from": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "initialAdvanceRate": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "maintenanceAdvanceRate": {
                                      "type": "number",
                                      "format": "double"
                                    },
                                    "to": {
                                      "type": "number",
                                      "format": "double"
                                    }
                                  },
                                  "example": null
                                }
                              },
                              "marginRateInitial": {
                                "type": "object",
                                "properties": {
                                  "buy": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "buyLimit": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "buyStop": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "buyStopLimit": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "sell": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "sellLimit": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "sellStop": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "sellStopLimit": {
                                    "type": "number",
                                    "format": "double"
                                  }
                                },
                                "example": null
                              },
                              "marginRateMaintenance": {
                                "type": "object",
                                "properties": {
                                  "buy": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "buyLimit": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "buyStop": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "buyStopLimit": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "sell": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "sellLimit": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "sellStop": {
                                    "type": "number",
                                    "format": "double"
                                  },
                                  "sellStopLimit": {
                                    "type": "number",
                                    "format": "double"
                                  }
                                },
                                "example": null
                              }
                            },
                            "example": null
                          },
                          "risk": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "version": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "longAnnualRate": {
                                "type": "number"
                              },
                              "shortAnnualRate": {
                                "type": "number"
                              },
                              "discountRate": {
                                "type": "number"
                              },
                              "baseRate": {
                                "type": "number"
                              },
                              "specialSymbol": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "fundingRateBaseType": {
                                "type": "string"
                              },
                              "fundingRateThreshold": {
                                "type": "number"
                              },
                              "fundingRateStep": {
                                "type": "number"
                              },
                              "fundingRateIncrease": {
                                "type": "number"
                              },
                              "fundingRateBase": {
                                "type": "number"
                              },
                              "fundingRateMin": {
                                "type": "number"
                              },
                              "fundingRateMax": {
                                "type": "number"
                              },
                              "liquidationFeeType": {
                                "type": "string"
                              },
                              "liquidationFeeValue": {
                                "type": "number"
                              },
                              "minLiquidationFee": {
                                "type": "number"
                              },
                              "fundingRateMode": {
                                "type": "string"
                              },
                              "fundingRateExternalMarketSymbol": {
                                "type": "string"
                              },
                              "groupName": {
                                "type": "string"
                              },
                              "platformMaxSlippageType": {
                                "type": "string"
                              },
                              "platformMaxSlippage": {
                                "type": "number"
                              },
                              "tpSlMaxSlippageType": {
                                "type": "string"
                              },
                              "tpSlMaxSlippage": {
                                "type": "number"
                              },
                              "userLongPositionValueLimitUsdc": {
                                "type": "number"
                              },
                              "userShortPositionValueLimitUsdc": {
                                "type": "number"
                              },
                              "platformLongTotalPositionLimitUsdc": {
                                "type": "number"
                              },
                              "platformShortTotalPositionLimitUsdc": {
                                "type": "number"
                              },
                              "free": {
                                "type": "object",
                                "properties": {
                                  "transCostConfig": {
                                    "type": "array",
                                    "items": {
                                      "required": [
                                        "endTime",
                                        "slippageConfig",
                                        "startTime",
                                        "transCostMode",
                                        "transTotalTime"
                                      ],
                                      "type": "object",
                                      "properties": {
                                        "startTime": {
                                          "type": "string",
                                          "description": "Trading Cost Config - Start Time"
                                        },
                                        "endTime": {
                                          "type": "string",
                                          "description": "Trading Cost Config - End Time"
                                        },
                                        "transCostMode": {
                                          "type": "string",
                                          "description": "Trading Cost Config - Mode TRADE_AMOUNT: Trade Amount"
                                        },
                                        "transTotalTime": {
                                          "type": "integer",
                                          "description": "Deal cumulative time",
                                          "format": "int64"
                                        },
                                        "slippageConfig": {
                                          "type": "array",
                                          "description": "Slippage Tier Configuration",
                                          "items": {
                                            "required": [
                                              "from",
                                              "to",
                                              "value"
                                            ],
                                            "type": "object",
                                            "properties": {
                                              "from": {
                                                "type": "integer",
                                                "description": "Tier Range (From)",
                                                "format": "int64"
                                              },
                                              "to": {
                                                "type": "integer",
                                                "description": "Tier Range (To)",
                                                "format": "int64"
                                              },
                                              "value": {
                                                "type": "number",
                                                "description": "Slippage value; stored and retrieved as-is. For PERCENTAGE type, range is (0,100], 0.05=0.05%"
                                              },
                                              "valueType": {
                                                "type": "string",
                                                "description": "Slippage value type: POINT-Points, PERCENTAGE-Percentage, defaults to POINT"
                                              },
                                              "slippageCoefficient": {
                                                "type": "number",
                                                "description": "Slippage coefficient k, independent of value/valueType"
                                              }
                                            },
                                            "description": "Slippage Tier Configuration",
                                            "example": null
                                          }
                                        }
                                      },
                                      "example": null
                                    }
                                  },
                                  "discountRate": {
                                    "type": "number"
                                  }
                                },
                                "example": null
                              },
                              "premium": {
                                "type": "object",
                                "properties": {
                                  "transCostConfig": {
                                    "type": "array",
                                    "items": {
                                      "required": [
                                        "endTime",
                                        "slippageConfig",
                                        "startTime",
                                        "transCostMode",
                                        "transTotalTime"
                                      ],
                                      "type": "object",
                                      "properties": {
                                        "startTime": {
                                          "type": "string",
                                          "description": "Trading Cost Config - Start Time"
                                        },
                                        "endTime": {
                                          "type": "string",
                                          "description": "Trading Cost Config - End Time"
                                        },
                                        "transCostMode": {
                                          "type": "string",
                                          "description": "Trading Cost Config - Mode TRADE_AMOUNT: Trade Amount"
                                        },
                                        "transTotalTime": {
                                          "type": "integer",
                                          "description": "Deal cumulative time",
                                          "format": "int64"
                                        },
                                        "slippageConfig": {
                                          "type": "array",
                                          "description": "Slippage Tier Configuration",
                                          "items": {
                                            "required": [
                                              "from",
                                              "to",
                                              "value"
                                            ],
                                            "type": "object",
                                            "properties": {
                                              "from": {
                                                "type": "integer",
                                                "description": "Tier Range (From)",
                                                "format": "int64"
                                              },
                                              "to": {
                                                "type": "integer",
                                                "description": "Tier Range (To)",
                                                "format": "int64"
                                              },
                                              "value": {
                                                "type": "number",
                                                "description": "Slippage value; stored and retrieved as-is. For PERCENTAGE type, range is (0,100], 0.05=0.05%"
                                              },
                                              "valueType": {
                                                "type": "string",
                                                "description": "Slippage value type: POINT-Points, PERCENTAGE-Percentage, defaults to POINT"
                                              },
                                              "slippageCoefficient": {
                                                "type": "number",
                                                "description": "Slippage coefficient k, independent of value/valueType"
                                              }
                                            },
                                            "description": "Slippage Tier Configuration",
                                            "example": null
                                          }
                                        }
                                      },
                                      "example": null
                                    }
                                  },
                                  "discountRate": {
                                    "type": "number"
                                  }
                                },
                                "example": null
                              }
                            },
                            "example": null
                          }
                        },
                        "example": null
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-trade/trade/slippage/estimate": {
      "get": {
        "tags": [
          "Trade"
        ],
        "summary": "Get Estimated Slippage",
        "description": "Required Permission: READ",
        "operationId": "slippageEstimate",
        "parameters": [
          {
            "name": "req",
            "in": "query",
            "required": true,
            "schema": {
              "required": [
                "login",
                "symbol",
                "type",
                "volumeExt"
              ],
              "type": "object",
              "properties": {
                "login": {
                  "type": "string",
                  "description": "MT5 Contract Account ID / Spot Account ID",
                  "example": "60349871"
                },
                "type": {
                  "type": "integer",
                  "description": "Order Type\n\"0-OP_BUY: Market buy\",\n\"1-OP_SELL: Market sell\",\n\"2-OP_BUY_LIMIT: Buy limit pending order\",\n\"3-OP_SELL_LIMIT: Sell limit pending order\",\n\"4-OP_BUY_STOP: Buy stop pending order\",\n\"5-OP_SELL_STOP: Sell stop pending order\",\n\"6-OP_BUY_STOP_LIMIT: Buy stop limit pending order\",\n\"7-OP_SELL_STOP_LIMIT: Sell stop limit pending order\",\n\"8-OP_CLOSE_BY: Close by order, only applicable to hedging mode\"\n",
                  "format": "int32"
                },
                "volumeExt": {
                  "type": "integer",
                  "description": "Order quantity (extended precision * 100000000). If order quantity is 0.01, pass 0.01 * 100000000",
                  "format": "int64"
                },
                "symbol": {
                  "type": "string",
                  "description": "Trading Pair/Symbol"
                }
              },
              "description": "Get Estimated Slippage Request",
              "example": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "estimatedSlippage": {
                          "type": "number",
                          "description": "Estimated Slippage",
                          "example": 0.001
                        }
                      },
                      "description": "Estimated Slippage Response",
                      "example": null
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-trade/trade/orders/pending/v2": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Query Unfilled Order List V2",
        "description": "Query unfilled order list (pending orders) based on the current user's UID, obtained from the X-UID request header\nRequired Permission: READ",
        "operationId": "getPendingOrdersV2",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "login",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "order": {
                            "type": "integer",
                            "description": "Order number, primary key",
                            "format": "int64",
                            "example": 123456
                          },
                          "login": {
                            "type": "integer",
                            "description": "Login account, MT5 account login number",
                            "format": "int64",
                            "example": 10001
                          },
                          "dealer": {
                            "type": "integer",
                            "description": "Dealer ID, the MT5 dealer code",
                            "format": "int64",
                            "example": 1
                          },
                          "symbol": {
                            "type": "string",
                            "description": "Trading symbol, e.g., EURUSD, GBPUSD, etc.",
                            "example": "EURUSD"
                          },
                          "digits": {
                            "type": "integer",
                            "description": "Price precision, the number of decimal places for the trading symbol",
                            "format": "int32",
                            "example": 5
                          },
                          "digitsCurrency": {
                            "type": "integer",
                            "description": "Currency precision, the number of currency decimal places for the trading symbol",
                            "format": "int32",
                            "example": 2
                          },
                          "contractSize": {
                            "type": "number",
                            "description": "Contract size, the standard size per lot",
                            "example": 100000
                          },
                          "state": {
                            "type": "integer",
                            "description": "Order Status",
                            "format": "int32",
                            "example": 0
                          },
                          "reason": {
                            "type": "integer",
                            "description": "Reason, the reason code for the order change",
                            "format": "int32",
                            "example": 0
                          },
                          "timeSetup": {
                            "type": "integer",
                            "description": "Order time, the timestamp when the order was created, in milliseconds, 13 digits",
                            "format": "int64"
                          },
                          "timeExpiration": {
                            "type": "integer",
                            "description": "Expiry time, the expiration timestamp of the order, in milliseconds, 13 digits",
                            "format": "int64"
                          },
                          "timeDone": {
                            "type": "integer",
                            "description": "Completion time, the timestamp when the order was completed, in milliseconds, 13 digits",
                            "format": "int64"
                          },
                          "timeSetupMsc": {
                            "type": "integer",
                            "description": "Order time (ms), the timestamp when the order was created (milliseconds), 13 digits",
                            "format": "int64"
                          },
                          "timeDoneMsc": {
                            "type": "integer",
                            "description": "Completion time (ms), the timestamp when the order was completed (milliseconds), 13 digits",
                            "format": "int64"
                          },
                          "modifyFlags": {
                            "type": "integer",
                            "description": "Modification flags, the flag bits for order modification",
                            "format": "int32",
                            "example": 0
                          },
                          "type": {
                            "type": "integer",
                            "description": "Order type, e.g., buy, sell, etc.",
                            "format": "int32",
                            "example": 0
                          },
                          "typeFill": {
                            "type": "integer",
                            "description": "Deal type, the fill type of the order",
                            "format": "int32",
                            "example": 0
                          },
                          "typeTime": {
                            "type": "integer",
                            "description": "Time validity type, the validity type of the order",
                            "format": "int32",
                            "example": 0
                          },
                          "priceOrder": {
                            "type": "number",
                            "description": "Order price, the execution price of the order",
                            "example": 1.085
                          },
                          "priceOrderDisplay": {
                            "type": "string",
                            "description": "Order price display value",
                            "example": "1.09"
                          },
                          "priceOrderScale": {
                            "type": "integer",
                            "description": "Order price display decimal places",
                            "format": "int32",
                            "example": 2
                          },
                          "priceTrigger": {
                            "type": "number",
                            "description": "Trigger price, the trigger price of the order",
                            "example": 1.085
                          },
                          "priceTriggerDisplay": {
                            "type": "string",
                            "description": "Trigger price display value",
                            "example": "1.09"
                          },
                          "priceTriggerScale": {
                            "type": "integer",
                            "description": "Trigger price display decimal places",
                            "format": "int32",
                            "example": 2
                          },
                          "priceCurrent": {
                            "type": "number",
                            "description": "Current price, the current market price of the order",
                            "example": 1.0855
                          },
                          "priceCurrentDisplay": {
                            "type": "string",
                            "description": "Current price display value",
                            "example": "1.09"
                          },
                          "priceCurrentScale": {
                            "type": "integer",
                            "description": "Current price display decimal places",
                            "format": "int32",
                            "example": 2
                          },
                          "priceSlDisplay": {
                            "type": "string",
                            "description": "Stop loss price display value",
                            "example": "1.08"
                          },
                          "priceSlScale": {
                            "type": "integer",
                            "description": "Stop loss price display decimal places",
                            "format": "int32",
                            "example": 2
                          },
                          "priceTpDisplay": {
                            "type": "string",
                            "description": "Take profit price display value",
                            "example": "1.09"
                          },
                          "priceTpScale": {
                            "type": "integer",
                            "description": "Take profit price display decimal places",
                            "format": "int32",
                            "example": 2
                          },
                          "volumeInitialExt": {
                            "type": "number",
                            "description": "Initial extended volume, the initial extended volume of the order (for large orders)",
                            "example": 0
                          },
                          "volumeCurrentExt": {
                            "type": "number",
                            "description": "Current extended volume, the current extended volume of the order",
                            "example": 0
                          },
                          "quantity": {
                            "type": "number",
                            "description": "User quantity, equals current remaining volumeCurrentExt divided by 10^8",
                            "example": 1.23456789
                          },
                          "rateMargin": {
                            "type": "number",
                            "description": "Margin exchange rate, the exchange rate used when calculating margin",
                            "example": 1
                          },
                          "activationMode": {
                            "type": "integer",
                            "description": "Activation mode, the activation mode of the pending order",
                            "format": "int32",
                            "example": 0
                          },
                          "activationTime": {
                            "type": "integer",
                            "description": "Activation time, the activation timestamp of the pending order",
                            "format": "int64",
                            "example": 0
                          },
                          "activationPrice": {
                            "type": "number",
                            "description": "Activation price, the activation price of the pending order",
                            "example": 0
                          },
                          "activationFlags": {
                            "type": "integer",
                            "description": "Activation flag, the flag bit for pending order activation",
                            "format": "int32",
                            "example": 0
                          },
                          "volumeInitial": {
                            "type": "number",
                            "description": "Initial volume, the initial trading volume of the order",
                            "example": 1
                          },
                          "volumeInitialDisplay": {
                            "type": "string",
                            "description": "Initial volume display value",
                            "example": "1.0"
                          },
                          "volumeInitialScale": {
                            "type": "integer",
                            "description": "Initial volume display decimal places",
                            "format": "int32",
                            "example": 8
                          },
                          "volumeCurrent": {
                            "type": "number",
                            "description": "Current volume, the current trading volume of the order",
                            "example": 1
                          },
                          "volumeCurrentDisplay": {
                            "type": "string",
                            "description": "Current volume display value",
                            "example": "1.0"
                          },
                          "volumeCurrentScale": {
                            "type": "integer",
                            "description": "Current volume display decimal places",
                            "format": "int32",
                            "example": 8
                          },
                          "externalID": {
                            "type": "string",
                            "description": "External ID, the ID associated with the external system",
                            "example": "EXT001"
                          },
                          "priceSL": {
                            "type": "number",
                            "description": "Stop loss price, the set stop loss level",
                            "example": 1.08
                          },
                          "priceTP": {
                            "type": "number",
                            "description": "Take profit price, the set take profit level",
                            "example": 1.09
                          },
                          "expertID": {
                            "type": "integer",
                            "description": "Expert Advisor ID. If the order was created by an EA (Expert Advisor), records the EA ID",
                            "format": "int64",
                            "example": 0
                          },
                          "positionID": {
                            "type": "integer",
                            "description": "Position ID, the associated position ID",
                            "format": "int64",
                            "example": 0
                          },
                          "positionByID": {
                            "type": "integer",
                            "description": "Opposite position ID, the associated opposite position ID",
                            "format": "int64",
                            "example": 0
                          }
                        },
                        "description": "MT5 Unfilled Order Information",
                        "example": null
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-trade/trade/orders/history/v3": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Query Historical Order List V3",
        "description": "Query historical order list by UID and account data type (SPOT/CONTRACT/SPOT_CONTRACT), including both spot and contract data\nRequired Permission: READ",
        "operationId": "getHistoryOrdersV3",
        "parameters": [
          {
            "name": "req",
            "in": "query",
            "required": true,
            "schema": {
              "required": [
                "from",
                "to",
                "type"
              ],
              "type": "object",
              "properties": {
                "size": {
                  "type": "integer",
                  "format": "int64",
                  "example": 10
                },
                "current": {
                  "type": "integer",
                  "format": "int64",
                  "example": 1
                },
                "orderBy": {
                  "type": "string"
                },
                "sortOrder": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "description": "Account data type: SPOT-Spot, CONTRACT-Contract, SPOT_CONTRACT-Combined Spot and Contract",
                  "enum": [
                    "SPOT",
                    "CONTRACT",
                    "SPOT_CONTRACT"
                  ]
                },
                "from": {
                  "type": "integer",
                  "description": "Start Timestamp (Unix timestamp, seconds)",
                  "format": "int64",
                  "example": 1704067200
                },
                "to": {
                  "type": "integer",
                  "description": "End Timestamp (Unix timestamp, seconds)",
                  "format": "int64",
                  "example": 1735689600
                },
                "symbol": {
                  "type": "string",
                  "description": "Trading Symbol Name",
                  "example": "ETHUSD"
                }
              },
              "example": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "Business error key (ExceptionTypeEnum name). Full list: /api-reference/error-codes."
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "records": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "order": {
                                "type": "integer",
                                "description": "Order number, primary key",
                                "format": "int64",
                                "example": 123456
                              },
                              "login": {
                                "type": "integer",
                                "description": "Login account, MT5 account login number",
                                "format": "int64",
                                "example": 10001
                              },
                              "dealer": {
                                "type": "integer",
                                "description": "Dealer ID, the MT5 dealer code",
                                "format": "int64",
                                "example": 1
                              },
                              "symbol": {
                                "type": "string",
                                "description": "Trading symbol, e.g., EURUSD, GBPUSD, etc.",
                                "example": "EURUSD"
                              },
                              "digits": {
                                "type": "integer",
                                "description": "Price precision, the number of decimal places for the trading symbol",
                                "format": "int32",
                                "example": 5
                              },
                              "digitsCurrency": {
                                "type": "integer",
                                "description": "Currency precision, the number of currency decimal places for the trading symbol",
                                "format": "int32",
                                "example": 2
                              },
                              "contractSize": {
                                "type": "number",
                                "description": "Contract size, the standard size per lot",
                                "example": 100000
                              },
                              "state": {
                                "type": "integer",
                                "description": "Order Status",
                                "format": "int32",
                                "example": 0
                              },
                              "reason": {
                                "type": "integer",
                                "description": "Reason, the reason code for the order change",
                                "format": "int32",
                                "example": 0
                              },
                              "timeSetup": {
                                "type": "integer",
                                "description": "Order time, the timestamp when the order was created, in milliseconds, 13 digits",
                                "format": "int64"
                              },
                              "timeExpiration": {
                                "type": "integer",
                                "description": "Expiry time, the expiration timestamp of the order, in milliseconds, 13 digits",
                                "format": "int64"
                              },
                              "timeDone": {
                                "type": "integer",
                                "description": "Completion time, the timestamp when the order was completed, in milliseconds, 13 digits",
                                "format": "int64"
                              },
                              "timeSetupMsc": {
                                "type": "integer",
                                "description": "Order time (ms), the timestamp when the order was created (milliseconds), 13 digits",
                                "format": "int64"
                              },
                              "timeDoneMsc": {
                                "type": "integer",
                                "description": "Completion time (ms), the timestamp when the order was completed (milliseconds), 13 digits",
                                "format": "int64"
                              },
                              "modifyFlags": {
                                "type": "integer",
                                "description": "Modification flags, the flag bits for order modification",
                                "format": "int32",
                                "example": 0
                              },
                              "type": {
                                "type": "integer",
                                "description": "Order type, e.g., buy, sell, etc.",
                                "format": "int32",
                                "example": 0
                              },
                              "typeFill": {
                                "type": "integer",
                                "description": "Deal type, the fill type of the order",
                                "format": "int32",
                                "example": 0
                              },
                              "typeTime": {
                                "type": "integer",
                                "description": "Time validity type, the validity type of the order",
                                "format": "int32",
                                "example": 0
                              },
                              "priceOrder": {
                                "type": "number",
                                "description": "Order price, the execution price of the order",
                                "example": 1.085
                              },
                              "priceOrderStr": {
                                "type": "string",
                                "description": "Order price raw string",
                                "example": "1.085"
                              },
                              "priceOrderDisplay": {
                                "type": "string",
                                "description": "Order price display value",
                                "example": "1.09"
                              },
                              "priceOrderScale": {
                                "type": "integer",
                                "description": "Order price display decimal places",
                                "format": "int32",
                                "example": 2
                              },
                              "priceTrigger": {
                                "type": "number",
                                "description": "Trigger price, the trigger price of the order",
                                "example": 1.085
                              },
                              "priceTriggerDisplay": {
                                "type": "string",
                                "description": "Trigger price display value",
                                "example": "1.09"
                              },
                              "priceTriggerScale": {
                                "type": "integer",
                                "description": "Trigger price display decimal places",
                                "format": "int32",
                                "example": 2
                              },
                              "priceCurrent": {
                                "type": "number",
                                "description": "Current price, the current market price of the order",
                                "example": 1.0855
                              },
                              "priceCurrentDisplay": {
                                "type": "string",
                                "description": "Current price display value",
                                "example": "1.09"
                              },
                              "priceCurrentScale": {
                                "type": "integer",
                                "description": "Current price display decimal places",
                                "format": "int32",
                                "example": 2
                              },
                              "priceSlDisplay": {
                                "type": "string",
                                "description": "Stop loss price display value",
                                "example": "1.08"
                              },
                              "priceSlScale": {
                                "type": "integer",
                                "description": "Stop loss price display decimal places",
                                "format": "int32",
                                "example": 2
                              },
                              "priceTpDisplay": {
                                "type": "string",
                                "description": "Take profit price display value",
                                "example": "1.09"
                              },
                              "priceTpScale": {
                                "type": "integer",
                                "description": "Take profit price display decimal places",
                                "format": "int32",
                                "example": 2
                              },
                              "volumeInitialExt": {
                                "type": "number",
                                "description": "Initial extended volume, the initial extended volume of the order (for large orders)",
                                "example": 0
                              },
                              "quantity": {
                                "type": "number",
                                "description": "User quantity, equals initial volumeInitialExt divided by 10^8",
                                "example": 1.23456789
                              },
                              "volumeInitialDisplay": {
                                "type": "string",
                                "description": "Initial volume display value",
                                "example": "1.0"
                              },
                              "volumeInitialScale": {
                                "type": "integer",
                                "description": "Initial volume display decimal places",
                                "format": "int32",
                                "example": 8
                              },
                              "volumeCurrentExt": {
                                "type": "number",
                                "description": "Current extended volume, the current extended volume of the order",
                                "example": 0
                              },
                              "volumeCurrentDisplay": {
                                "type": "string",
                                "description": "Current volume display value",
                                "example": "1.0"
                              },
                              "volumeCurrentScale": {
                                "type": "integer",
                                "description": "Current volume display decimal places",
                                "format": "int32",
                                "example": 8
                              },
                              "rateMargin": {
                                "type": "number",
                                "description": "Margin exchange rate, the exchange rate used when calculating margin",
                                "example": 1
                              },
                              "activationMode": {
                                "type": "integer",
                                "description": "Activation mode, the activation mode of the pending order",
                                "format": "int32",
                                "example": 0
                              },
                              "activationTime": {
                                "type": "integer",
                                "description": "Activation time, the activation timestamp of the pending order",
                                "format": "int64",
                                "example": 0
                              },
                              "activationPrice": {
                                "type": "number",
                                "description": "Activation price, the activation price of the pending order",
                                "example": 0
                              },
                              "activationFlags": {
                                "type": "integer",
                                "description": "Activation flag, the flag bit for pending order activation",
                                "format": "int32",
                                "example": 0
                              },
                              "volumeInitial": {
                                "type": "number",
                                "description": "Initial volume, the initial trading volume of the order",
                                "example": 1
                              },
                              "volumeCurrent": {
                                "type": "number",
                                "description": "Current volume, the current trading volume of the order",
                                "example": 1
                              },
                              "externalID": {
                                "type": "string",
                                "description": "External ID, the ID associated with the external system",
                                "example": "EXT001"
                              },
                              "priceSL": {
                                "type": "number",
                                "description": "Stop loss price, the set stop loss level",
                                "example": 1.08
                              },
                              "priceTP": {
                                "type": "number",
                                "description": "Take profit price, the set take profit level",
                                "example": 1.09
                              },
                              "expertID": {
                                "type": "integer",
                                "description": "Expert Advisor ID. If the order was created by an EA (Expert Advisor), records the EA ID",
                                "format": "int64",
                                "example": 0
                              },
                              "positionID": {
                                "type": "integer",
[...]
