{
  "openapi": "3.0.1",
  "info": {
    "title": "MC-account",
    "description": "多账户系统\n\n本 Spec 仅包含标注 @OpenApiPermission 的接口，即透出给终端用户 / 集成方、通过 API 网关使用 Access Key / Secret Key（AK/SK）签名访问的公开 OpenAPI 子集。不含后台 Admin、内部 Feign 等未透出接口。",
    "license": {
      "name": "Apache 2.0",
      "url": "http://springdoc.org"
    },
    "version": "v0.0.1"
  },
  "externalDocs": {
    "description": "MC-account Wiki Documentation",
    "url": ""
  },
  "servers": [
    {
      "url": "https://gateway.mcconnects.com",
      "description": "生产环境 API 网关"
    }
  ],
  "security": [
    {
      "McAccessKey": [],
      "McSignature": [],
      "McTimestamp": [],
      "McNonce": []
    }
  ],
  "paths": {
    "/openapi/v1/mc-account/transaction/transaction/record/transactionId/{id}": {
      "post": {
        "tags": [
          "交易"
        ],
        "summary": "根据transactionId查询交易记录详情",
        "description": "所需权限: READ",
        "operationId": "selectTransactionId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "业务错误键（ExceptionTypeEnum 名称）。完整列表见 /zh/api-reference/error-codes。"
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "uid": {
                          "type": "string",
                          "description": "关联账户表"
                        },
                        "transactionId": {
                          "type": "string"
                        },
                        "symbolId": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "acSymbol": {
                          "type": "string"
                        },
                        "network": {
                          "type": "string"
                        },
                        "exchangeSymbolId": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "exchangeSymbol": {
                          "type": "string"
                        },
                        "transactionType": {
                          "type": "string",
                          "description": "交易类型枚举",
                          "enum": [
                            "RECHARGE",
                            "WITHDRAWAL",
                            "TRANSFER_IN",
                            "TRANSFER_OUT",
                            "EXCHANGE",
                            "SAFEBOX_TRANSFER_IN",
                            "ROLLBACK",
                            "SAFEBOX_TRANSFER_OUT",
                            "ADJUSTMENT_ADD",
                            "ADJUSTMENT_REDUCE",
                            "MLP_DEPOSIT",
                            "MLP_WITHDRAWAL",
                            "TRANSFER_TRADE_TO_SPOT",
                            "TRANSFER_SPOT_TO_TRADE",
                            "EARN_DEPOSIT",
                            "EARN_WITHDRAWAL",
                            "PROMO_REWARD_IN",
                            "PROMO_REWARD_OUT",
                            "RECHARGE - 充值",
                            "WITHDRAWAL - 提现",
                            "TRANSFER_IN - 划入",
                            "TRANSFER_OUT - 划出",
                            "EXCHANGE - 兑换",
                            "ROLLBACK - 回退",
                            "SAFEBOX_TRANSFER_IN - 转入保险箱",
                            "SAFEBOX_TRANSFER_OUT - 转出保险箱",
                            "ADJUSTMENT_ADD - 调账增加",
                            "ADJUSTMENT_REDUCE - 调账减少",
                            "MLP_DEPOSIT - MLP账户存款",
                            "MLP_WITHDRAWAL - MLP账户提现",
                            "TRANSFER_TRADE_TO_SPOT - 合约划入现货",
                            "TRANSFER_SPOT_TO_TRADE - 现货划入合约",
                            "EARN_DEPOSIT - 赚取存款",
                            "EARN_WITHDRAWAL - 赚取提现",
                            "PROMO_REWARD_IN - 活动奖励入金",
                            "PROMO_REWARD_OUT - 活动奖励出金"
                          ],
                          "example": null
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "SUCCESS",
                            "FAIL",
                            "PENDING"
                          ]
                        },
                        "amount": {
                          "type": "number"
                        },
                        "amountStr": {
                          "type": "string"
                        },
                        "amountDisplay": {
                          "type": "string"
                        },
                        "amountScale": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "exchangeAmount": {
                          "type": "number"
                        },
                        "exchangeAmountDisplay": {
                          "type": "string"
                        },
                        "fee": {
                          "type": "number"
                        },
                        "feeDisplay": {
                          "type": "string"
                        },
                        "createTime": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "finishTime": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "failureReason": {
                          "type": "string"
                        },
                        "errorCode": {
                          "type": "string"
                        },
                        "exchangeRate": {
                          "type": "number"
                        },
                        "convertExchangeRate": {
                          "type": "number"
                        },
                        "rateDisplay": {
                          "type": "string"
                        },
                        "txHash": {
                          "type": "string"
                        },
                        "feeSymbol": {
                          "type": "string"
                        },
                        "sourceAccountType": {
                          "type": "string",
                          "enum": [
                            "FUND_ACCOUNT",
                            "TRADING_ACCOUNT",
                            "SAFE_BOX",
                            "EXTERNAL_ACCOUNT",
                            "MLP_ACCOUNT",
                            "SPOT_ACCOUNT",
                            "EARN_ACCOUNT"
                          ]
                        },
                        "targetAccountType": {
                          "type": "string",
                          "enum": [
                            "FUND_ACCOUNT",
                            "TRADING_ACCOUNT",
                            "SAFE_BOX",
                            "EXTERNAL_ACCOUNT",
                            "MLP_ACCOUNT",
                            "SPOT_ACCOUNT",
                            "EARN_ACCOUNT"
                          ]
                        },
                        "sourceAccountId": {
                          "type": "string"
                        },
                        "targetAccountId": {
                          "type": "string"
                        },
                        "sourceWalletAddress": {
                          "type": "string"
                        },
                        "targetWalletAddress": {
                          "type": "string"
                        },
                        "extParams": {
                          "type": "string"
                        },
                        "sourceAccountBalance": {
                          "type": "number"
                        },
                        "targetAccountBalance": {
                          "type": "number"
                        },
                        "fundFlowType": {
                          "type": "string",
                          "enum": [
                            "CRYPTO_ADDRESS",
                            "FIAT"
                          ]
                        },
                        "transactionMethod": {
                          "type": "string",
                          "description": "交易方式枚举",
                          "enum": [
                            "CHAIN_TX",
                            "USER_TRANSFER",
                            "OTHER",
                            "CHAIN_TX - 链交易",
                            "USER_TRANSFER - 用户间划转",
                            "OTHER - 其他"
                          ],
                          "example": null
                        },
                        "recipientUid": {
                          "type": "string",
                          "description": "WITHDRAWAL 用户间划转时有值"
                        },
                        "payerUid": {
                          "type": "string",
                          "description": "RECHARGE 用户间划转时有值"
                        },
                        "finishTimeTimestamp": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "createTimeTimestamp": {
                          "type": "integer",
                          "format": "int64"
                        }
                      },
                      "example": null
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/transaction/transaction/record/page": {
      "post": {
        "tags": [
          "交易"
        ],
        "summary": "分页查询交易记录",
        "description": "所需权限: READ",
        "operationId": "transactionRecordPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "size": {
                    "type": "integer",
                    "format": "int64",
                    "example": 10
                  },
                  "current": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1
                  },
                  "orderBy": {
                    "type": "string",
                    "description": "支持多字段排序，用逗号分隔",
                    "example": "id,createTime"
                  },
                  "orderDirection": {
                    "type": "string",
                    "description": "ASC升序/DESC降序，多字段时用逗号分隔",
                    "example": "DESC,ASC",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "trackingId": {
                    "type": "string",
                    "description": "用于跟踪请求的唯一标识"
                  },
                  "symbolId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "exchangeSymbolId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "transactionType": {
                    "type": "string",
                    "description": "交易类型枚举",
                    "enum": [
                      "RECHARGE",
                      "WITHDRAWAL",
                      "TRANSFER_IN",
                      "TRANSFER_OUT",
                      "EXCHANGE",
                      "SAFEBOX_TRANSFER_IN",
                      "ROLLBACK",
                      "SAFEBOX_TRANSFER_OUT",
                      "ADJUSTMENT_ADD",
                      "ADJUSTMENT_REDUCE",
                      "MLP_DEPOSIT",
                      "MLP_WITHDRAWAL",
                      "TRANSFER_TRADE_TO_SPOT",
                      "TRANSFER_SPOT_TO_TRADE",
                      "EARN_DEPOSIT",
                      "EARN_WITHDRAWAL",
                      "PROMO_REWARD_IN",
                      "PROMO_REWARD_OUT",
                      "RECHARGE - 充值",
                      "WITHDRAWAL - 提现",
                      "TRANSFER_IN - 划入",
                      "TRANSFER_OUT - 划出",
                      "EXCHANGE - 兑换",
                      "ROLLBACK - 回退",
                      "SAFEBOX_TRANSFER_IN - 转入保险箱",
                      "SAFEBOX_TRANSFER_OUT - 转出保险箱",
                      "ADJUSTMENT_ADD - 调账增加",
                      "ADJUSTMENT_REDUCE - 调账减少",
                      "MLP_DEPOSIT - MLP账户存款",
                      "MLP_WITHDRAWAL - MLP账户提现",
                      "TRANSFER_TRADE_TO_SPOT - 合约划入现货",
                      "TRANSFER_SPOT_TO_TRADE - 现货划入合约",
                      "EARN_DEPOSIT - 赚取存款",
                      "EARN_WITHDRAWAL - 赚取提现",
                      "PROMO_REWARD_IN - 活动奖励入金",
                      "PROMO_REWARD_OUT - 活动奖励出金"
                    ],
                    "example": null
                  },
                  "transactionTypes": {
                    "type": "array",
                    "description": "仅 transactionType==null 时生效",
                    "items": {
                      "type": "string",
                      "description": "交易类型枚举",
                      "enum": [
                        "RECHARGE",
                        "WITHDRAWAL",
                        "TRANSFER_IN",
                        "TRANSFER_OUT",
                        "EXCHANGE",
                        "SAFEBOX_TRANSFER_IN",
                        "ROLLBACK",
                        "SAFEBOX_TRANSFER_OUT",
                        "ADJUSTMENT_ADD",
                        "ADJUSTMENT_REDUCE",
                        "MLP_DEPOSIT",
                        "MLP_WITHDRAWAL",
                        "TRANSFER_TRADE_TO_SPOT",
                        "TRANSFER_SPOT_TO_TRADE",
                        "EARN_DEPOSIT",
                        "EARN_WITHDRAWAL",
                        "PROMO_REWARD_IN",
                        "PROMO_REWARD_OUT",
                        "RECHARGE - 充值",
                        "WITHDRAWAL - 提现",
                        "TRANSFER_IN - 划入",
                        "TRANSFER_OUT - 划出",
                        "EXCHANGE - 兑换",
                        "ROLLBACK - 回退",
                        "SAFEBOX_TRANSFER_IN - 转入保险箱",
                        "SAFEBOX_TRANSFER_OUT - 转出保险箱",
                        "ADJUSTMENT_ADD - 调账增加",
                        "ADJUSTMENT_REDUCE - 调账减少",
                        "MLP_DEPOSIT - MLP账户存款",
                        "MLP_WITHDRAWAL - MLP账户提现",
                        "TRANSFER_TRADE_TO_SPOT - 合约划入现货",
                        "TRANSFER_SPOT_TO_TRADE - 现货划入合约",
                        "EARN_DEPOSIT - 赚取存款",
                        "EARN_WITHDRAWAL - 赚取提现",
                        "PROMO_REWARD_IN - 活动奖励入金",
                        "PROMO_REWARD_OUT - 活动奖励出金"
                      ],
                      "example": null
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "SUCCESS",
                      "FAIL",
                      "PENDING"
                    ]
                  },
                  "statuses": {
                    "type": "array",
                    "description": "仅 status==null 时生效",
                    "items": {
                      "type": "string",
                      "description": "仅 status==null 时生效",
                      "enum": [
                        "SUCCESS",
                        "FAIL",
                        "PENDING"
                      ]
                    }
                  },
                  "createTimeStart": {
                    "type": "string",
                    "description": "yyyy-MM-dd HH:mm:ss.SSS",
                    "format": "date-time"
                  },
                  "createTimeStartTimestamp": {
                    "type": "integer",
                    "description": "毫秒级 Unix timestamp",
                    "format": "int64"
                  },
                  "createTimeEnd": {
                    "type": "string",
                    "description": "yyyy-MM-dd HH:mm:ss.SSS",
                    "format": "date-time"
                  },
                  "createTimeEndTimestamp": {
                    "type": "integer",
                    "description": "毫秒级 Unix timestamp",
                    "format": "int64"
                  },
                  "transactionMethod": {
                    "type": "string",
                    "description": "交易方式枚举",
                    "enum": [
                      "CHAIN_TX",
                      "USER_TRANSFER",
                      "OTHER",
                      "CHAIN_TX - 链交易",
                      "USER_TRANSFER - 用户间划转",
                      "OTHER - 其他"
                    ],
                    "example": null
                  }
                },
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "业务错误键（ExceptionTypeEnum 名称）。完整列表见 /zh/api-reference/error-codes。"
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "records": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "uid": {
                                "type": "string",
                                "description": "关联账户表"
                              },
                              "transactionId": {
                                "type": "string"
                              },
                              "symbolId": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "acSymbol": {
                                "type": "string"
                              },
                              "network": {
                                "type": "string"
                              },
                              "exchangeSymbolId": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "exchangeSymbol": {
                                "type": "string"
                              },
                              "transactionType": {
                                "type": "string",
                                "description": "交易类型枚举",
                                "enum": [
                                  "RECHARGE",
                                  "WITHDRAWAL",
                                  "TRANSFER_IN",
                                  "TRANSFER_OUT",
                                  "EXCHANGE",
                                  "SAFEBOX_TRANSFER_IN",
                                  "ROLLBACK",
                                  "SAFEBOX_TRANSFER_OUT",
                                  "ADJUSTMENT_ADD",
                                  "ADJUSTMENT_REDUCE",
                                  "MLP_DEPOSIT",
                                  "MLP_WITHDRAWAL",
                                  "TRANSFER_TRADE_TO_SPOT",
                                  "TRANSFER_SPOT_TO_TRADE",
                                  "EARN_DEPOSIT",
                                  "EARN_WITHDRAWAL",
                                  "PROMO_REWARD_IN",
                                  "PROMO_REWARD_OUT",
                                  "RECHARGE - 充值",
                                  "WITHDRAWAL - 提现",
                                  "TRANSFER_IN - 划入",
                                  "TRANSFER_OUT - 划出",
                                  "EXCHANGE - 兑换",
                                  "ROLLBACK - 回退",
                                  "SAFEBOX_TRANSFER_IN - 转入保险箱",
                                  "SAFEBOX_TRANSFER_OUT - 转出保险箱",
                                  "ADJUSTMENT_ADD - 调账增加",
                                  "ADJUSTMENT_REDUCE - 调账减少",
                                  "MLP_DEPOSIT - MLP账户存款",
                                  "MLP_WITHDRAWAL - MLP账户提现",
                                  "TRANSFER_TRADE_TO_SPOT - 合约划入现货",
                                  "TRANSFER_SPOT_TO_TRADE - 现货划入合约",
                                  "EARN_DEPOSIT - 赚取存款",
                                  "EARN_WITHDRAWAL - 赚取提现",
                                  "PROMO_REWARD_IN - 活动奖励入金",
                                  "PROMO_REWARD_OUT - 活动奖励出金"
                                ],
                                "example": null
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "SUCCESS",
                                  "FAIL",
                                  "PENDING"
                                ]
                              },
                              "amount": {
                                "type": "number"
                              },
                              "amountStr": {
                                "type": "string"
                              },
                              "amountDisplay": {
                                "type": "string"
                              },
                              "amountScale": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "exchangeAmount": {
                                "type": "number"
                              },
                              "exchangeAmountDisplay": {
                                "type": "string"
                              },
                              "fee": {
                                "type": "number"
                              },
                              "feeDisplay": {
                                "type": "string"
                              },
                              "createTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "finishTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "failureReason": {
                                "type": "string"
                              },
                              "errorCode": {
                                "type": "string"
                              },
                              "exchangeRate": {
                                "type": "number"
                              },
                              "convertExchangeRate": {
                                "type": "number"
                              },
                              "rateDisplay": {
                                "type": "string"
                              },
                              "txHash": {
                                "type": "string"
                              },
                              "feeSymbol": {
                                "type": "string"
                              },
                              "sourceAccountType": {
                                "type": "string",
                                "enum": [
                                  "FUND_ACCOUNT",
                                  "TRADING_ACCOUNT",
                                  "SAFE_BOX",
                                  "EXTERNAL_ACCOUNT",
                                  "MLP_ACCOUNT",
                                  "SPOT_ACCOUNT",
                                  "EARN_ACCOUNT"
                                ]
                              },
                              "targetAccountType": {
                                "type": "string",
                                "enum": [
                                  "FUND_ACCOUNT",
                                  "TRADING_ACCOUNT",
                                  "SAFE_BOX",
                                  "EXTERNAL_ACCOUNT",
                                  "MLP_ACCOUNT",
                                  "SPOT_ACCOUNT",
                                  "EARN_ACCOUNT"
                                ]
                              },
                              "sourceAccountId": {
                                "type": "string"
                              },
                              "targetAccountId": {
                                "type": "string"
                              },
                              "sourceWalletAddress": {
                                "type": "string"
                              },
                              "targetWalletAddress": {
                                "type": "string"
                              },
                              "extParams": {
                                "type": "string"
                              },
                              "sourceAccountBalance": {
                                "type": "number"
                              },
                              "targetAccountBalance": {
                                "type": "number"
                              },
                              "fundFlowType": {
                                "type": "string",
                                "enum": [
                                  "CRYPTO_ADDRESS",
                                  "FIAT"
                                ]
                              },
                              "transactionMethod": {
                                "type": "string",
                                "description": "交易方式枚举",
                                "enum": [
                                  "CHAIN_TX",
                                  "USER_TRANSFER",
                                  "OTHER",
                                  "CHAIN_TX - 链交易",
                                  "USER_TRANSFER - 用户间划转",
                                  "OTHER - 其他"
                                ],
                                "example": null
                              },
                              "recipientUid": {
                                "type": "string",
                                "description": "WITHDRAWAL 用户间划转时有值"
                              },
                              "payerUid": {
                                "type": "string",
                                "description": "RECHARGE 用户间划转时有值"
                              },
                              "finishTimeTimestamp": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "createTimeTimestamp": {
                                "type": "integer",
                                "format": "int64"
                              }
                            },
                            "example": null
                          }
                        },
                        "total": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "size": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "current": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "pages": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "hasPrevious": {
                          "type": "boolean"
                        },
                        "hasNext": {
                          "type": "boolean"
                        }
                      },
                      "example": null
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/transaction/exchange/v2": {
      "post": {
        "tags": [
          "交易"
        ],
        "summary": "兑换v2, 支持询价",
        "description": "需要先调用[触发2FA验证]接口,触发2FA验证\n所需权限: TRADE",
        "operationId": "exchangeV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "amount",
                  "exchangeSymbol",
                  "quoteSessionId",
                  "symbol",
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "trackingId": {
                    "type": "string",
                    "description": "用于跟踪请求的唯一标识"
                  },
                  "symbol": {
                    "type": "string",
                    "description": "如 BTC/USDT"
                  },
                  "exchangeSymbol": {
                    "type": "string",
                    "description": "如 BTC/USDT"
                  },
                  "amount": {
                    "type": "number",
                    "description": "兑换金额/兑换币种的数量"
                  },
                  "verify2FaTokens": {
                    "type": "array",
                    "description": "通过2FA验证接口获取的临时验证令牌列表，支持多种类型的2FA验证",
                    "items": {
                      "required": [
                        "token",
                        "twoFAType"
                      ],
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string",
                          "description": "通过2FA验证接口获取的临时验证令牌"
                        },
                        "twoFAType": {
                          "type": "string",
                          "description": "验证器类型",
                          "enum": [
                            "SMS",
                            "GA",
                            "EMAIL"
                          ]
                        }
                      },
                      "description": "通过2FA验证接口获取的临时验证令牌列表，支持多种类型的2FA验证",
                      "example": null
                    }
                  },
                  "quoteSessionId": {
                    "type": "string",
                    "description": "asw1w123a"
                  }
                },
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "业务错误键（ExceptionTypeEnum 名称）。完整列表见 /zh/api-reference/error-codes。"
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/transaction/account/record/page": {
      "post": {
        "tags": [
          "交易"
        ],
        "summary": "分页查询资金流水记录",
        "description": "所需权限: READ",
        "operationId": "accountRecordPage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "size": {
                    "type": "integer",
                    "format": "int64",
                    "example": 10
                  },
                  "current": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1
                  },
                  "orderBy": {
                    "type": "string",
                    "description": "支持多字段排序，用逗号分隔",
                    "example": "id,createTime"
                  },
                  "orderDirection": {
                    "type": "string",
                    "description": "ASC升序/DESC降序，多字段时用逗号分隔",
                    "example": "DESC,ASC",
                    "enum": [
                      "ASC",
                      "DESC"
                    ]
                  },
                  "trackingId": {
                    "type": "string",
                    "description": "用于跟踪请求的唯一标识"
                  },
                  "symbolId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "exchangeSymbolId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "transactionType": {
                    "type": "string",
                    "description": "交易类型枚举",
                    "enum": [
                      "RECHARGE",
                      "WITHDRAWAL",
                      "TRANSFER_IN",
                      "TRANSFER_OUT",
                      "EXCHANGE",
                      "SAFEBOX_TRANSFER_IN",
                      "ROLLBACK",
                      "SAFEBOX_TRANSFER_OUT",
                      "ADJUSTMENT_ADD",
                      "ADJUSTMENT_REDUCE",
                      "MLP_DEPOSIT",
                      "MLP_WITHDRAWAL",
                      "TRANSFER_TRADE_TO_SPOT",
                      "TRANSFER_SPOT_TO_TRADE",
                      "EARN_DEPOSIT",
                      "EARN_WITHDRAWAL",
                      "PROMO_REWARD_IN",
                      "PROMO_REWARD_OUT",
                      "RECHARGE - 充值",
                      "WITHDRAWAL - 提现",
                      "TRANSFER_IN - 划入",
                      "TRANSFER_OUT - 划出",
                      "EXCHANGE - 兑换",
                      "ROLLBACK - 回退",
                      "SAFEBOX_TRANSFER_IN - 转入保险箱",
                      "SAFEBOX_TRANSFER_OUT - 转出保险箱",
                      "ADJUSTMENT_ADD - 调账增加",
                      "ADJUSTMENT_REDUCE - 调账减少",
                      "MLP_DEPOSIT - MLP账户存款",
                      "MLP_WITHDRAWAL - MLP账户提现",
                      "TRANSFER_TRADE_TO_SPOT - 合约划入现货",
                      "TRANSFER_SPOT_TO_TRADE - 现货划入合约",
                      "EARN_DEPOSIT - 赚取存款",
                      "EARN_WITHDRAWAL - 赚取提现",
                      "PROMO_REWARD_IN - 活动奖励入金",
                      "PROMO_REWARD_OUT - 活动奖励出金"
                    ],
                    "example": null
                  },
                  "transactionTypes": {
                    "type": "array",
                    "description": "仅 transactionType==null 时生效",
                    "items": {
                      "type": "string",
                      "description": "交易类型枚举",
                      "enum": [
                        "RECHARGE",
                        "WITHDRAWAL",
                        "TRANSFER_IN",
                        "TRANSFER_OUT",
                        "EXCHANGE",
                        "SAFEBOX_TRANSFER_IN",
                        "ROLLBACK",
                        "SAFEBOX_TRANSFER_OUT",
                        "ADJUSTMENT_ADD",
                        "ADJUSTMENT_REDUCE",
                        "MLP_DEPOSIT",
                        "MLP_WITHDRAWAL",
                        "TRANSFER_TRADE_TO_SPOT",
                        "TRANSFER_SPOT_TO_TRADE",
                        "EARN_DEPOSIT",
                        "EARN_WITHDRAWAL",
                        "PROMO_REWARD_IN",
                        "PROMO_REWARD_OUT",
                        "RECHARGE - 充值",
                        "WITHDRAWAL - 提现",
                        "TRANSFER_IN - 划入",
                        "TRANSFER_OUT - 划出",
                        "EXCHANGE - 兑换",
                        "ROLLBACK - 回退",
                        "SAFEBOX_TRANSFER_IN - 转入保险箱",
                        "SAFEBOX_TRANSFER_OUT - 转出保险箱",
                        "ADJUSTMENT_ADD - 调账增加",
                        "ADJUSTMENT_REDUCE - 调账减少",
                        "MLP_DEPOSIT - MLP账户存款",
                        "MLP_WITHDRAWAL - MLP账户提现",
                        "TRANSFER_TRADE_TO_SPOT - 合约划入现货",
                        "TRANSFER_SPOT_TO_TRADE - 现货划入合约",
                        "EARN_DEPOSIT - 赚取存款",
                        "EARN_WITHDRAWAL - 赚取提现",
                        "PROMO_REWARD_IN - 活动奖励入金",
                        "PROMO_REWARD_OUT - 活动奖励出金"
                      ],
                      "example": null
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "SUCCESS",
                      "FAIL",
                      "PENDING"
                    ]
                  },
                  "statuses": {
                    "type": "array",
                    "description": "仅 status==null 时生效",
                    "items": {
                      "type": "string",
                      "description": "仅 status==null 时生效",
                      "enum": [
                        "SUCCESS",
                        "FAIL",
                        "PENDING"
                      ]
                    }
                  },
                  "createTimeStart": {
                    "type": "string",
                    "description": "yyyy-MM-dd HH:mm:ss.SSS",
                    "format": "date-time"
                  },
                  "createTimeStartTimestamp": {
                    "type": "integer",
                    "description": "毫秒级 Unix timestamp",
                    "format": "int64"
                  },
                  "createTimeEnd": {
                    "type": "string",
                    "description": "yyyy-MM-dd HH:mm:ss.SSS",
                    "format": "date-time"
                  },
                  "createTimeEndTimestamp": {
                    "type": "integer",
                    "description": "毫秒级 Unix timestamp",
                    "format": "int64"
                  },
                  "transactionMethod": {
                    "type": "string",
                    "description": "交易方式枚举",
                    "enum": [
                      "CHAIN_TX",
                      "USER_TRANSFER",
                      "OTHER",
                      "CHAIN_TX - 链交易",
                      "USER_TRANSFER - 用户间划转",
                      "OTHER - 其他"
                    ],
                    "example": null
                  }
                },
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "业务错误键（ExceptionTypeEnum 名称）。完整列表见 /zh/api-reference/error-codes。"
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "records": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "uid": {
                                "type": "string",
                                "description": "关联账户表"
                              },
                              "transactionId": {
                                "type": "string"
                              },
                              "symbolId": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "acSymbol": {
                                "type": "string"
                              },
                              "network": {
                                "type": "string"
                              },
                              "exchangeSymbolId": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "exchangeSymbol": {
                                "type": "string"
                              },
                              "transactionType": {
                                "type": "string",
                                "description": "交易类型枚举",
                                "enum": [
                                  "RECHARGE",
                                  "WITHDRAWAL",
                                  "TRANSFER_IN",
                                  "TRANSFER_OUT",
                                  "EXCHANGE",
                                  "SAFEBOX_TRANSFER_IN",
                                  "ROLLBACK",
                                  "SAFEBOX_TRANSFER_OUT",
                                  "ADJUSTMENT_ADD",
                                  "ADJUSTMENT_REDUCE",
                                  "MLP_DEPOSIT",
                                  "MLP_WITHDRAWAL",
                                  "TRANSFER_TRADE_TO_SPOT",
                                  "TRANSFER_SPOT_TO_TRADE",
                                  "EARN_DEPOSIT",
                                  "EARN_WITHDRAWAL",
                                  "PROMO_REWARD_IN",
                                  "PROMO_REWARD_OUT",
                                  "RECHARGE - 充值",
                                  "WITHDRAWAL - 提现",
                                  "TRANSFER_IN - 划入",
                                  "TRANSFER_OUT - 划出",
                                  "EXCHANGE - 兑换",
                                  "ROLLBACK - 回退",
                                  "SAFEBOX_TRANSFER_IN - 转入保险箱",
                                  "SAFEBOX_TRANSFER_OUT - 转出保险箱",
                                  "ADJUSTMENT_ADD - 调账增加",
                                  "ADJUSTMENT_REDUCE - 调账减少",
                                  "MLP_DEPOSIT - MLP账户存款",
                                  "MLP_WITHDRAWAL - MLP账户提现",
                                  "TRANSFER_TRADE_TO_SPOT - 合约划入现货",
                                  "TRANSFER_SPOT_TO_TRADE - 现货划入合约",
                                  "EARN_DEPOSIT - 赚取存款",
                                  "EARN_WITHDRAWAL - 赚取提现",
                                  "PROMO_REWARD_IN - 活动奖励入金",
                                  "PROMO_REWARD_OUT - 活动奖励出金"
                                ],
                                "example": null
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "SUCCESS",
                                  "FAIL",
                                  "PENDING"
                                ]
                              },
                              "amount": {
                                "type": "number"
                              },
                              "amountStr": {
                                "type": "string"
                              },
                              "amountDisplay": {
                                "type": "string"
                              },
                              "amountScale": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "exchangeAmount": {
                                "type": "number"
                              },
                              "exchangeAmountDisplay": {
                                "type": "string"
                              },
                              "fee": {
                                "type": "number"
                              },
                              "feeDisplay": {
                                "type": "string"
                              },
                              "createTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "finishTime": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "failureReason": {
                                "type": "string"
                              },
                              "errorCode": {
                                "type": "string"
                              },
                              "exchangeRate": {
                                "type": "number"
                              },
                              "convertExchangeRate": {
                                "type": "number"
                              },
                              "rateDisplay": {
                                "type": "string"
                              },
                              "txHash": {
                                "type": "string"
                              },
                              "feeSymbol": {
                                "type": "string"
                              },
                              "sourceAccountType": {
                                "type": "string",
                                "enum": [
                                  "FUND_ACCOUNT",
                                  "TRADING_ACCOUNT",
                                  "SAFE_BOX",
                                  "EXTERNAL_ACCOUNT",
                                  "MLP_ACCOUNT",
                                  "SPOT_ACCOUNT",
                                  "EARN_ACCOUNT"
                                ]
                              },
                              "targetAccountType": {
                                "type": "string",
                                "enum": [
                                  "FUND_ACCOUNT",
                                  "TRADING_ACCOUNT",
                                  "SAFE_BOX",
                                  "EXTERNAL_ACCOUNT",
                                  "MLP_ACCOUNT",
                                  "SPOT_ACCOUNT",
                                  "EARN_ACCOUNT"
                                ]
                              },
                              "sourceAccountId": {
                                "type": "string"
                              },
                              "targetAccountId": {
                                "type": "string"
                              },
                              "sourceWalletAddress": {
                                "type": "string"
                              },
                              "targetWalletAddress": {
                                "type": "string"
                              },
                              "extParams": {
                                "type": "string"
                              },
                              "sourceAccountBalance": {
                                "type": "number"
                              },
                              "targetAccountBalance": {
                                "type": "number"
                              },
                              "fundFlowType": {
                                "type": "string",
                                "enum": [
                                  "CRYPTO_ADDRESS",
                                  "FIAT"
                                ]
                              },
                              "transactionMethod": {
                                "type": "string",
                                "description": "交易方式枚举",
                                "enum": [
                                  "CHAIN_TX",
                                  "USER_TRANSFER",
                                  "OTHER",
                                  "CHAIN_TX - 链交易",
                                  "USER_TRANSFER - 用户间划转",
                                  "OTHER - 其他"
                                ],
                                "example": null
                              },
                              "recipientUid": {
                                "type": "string",
                                "description": "WITHDRAWAL 用户间划转时有值"
                              },
                              "payerUid": {
                                "type": "string",
                                "description": "RECHARGE 用户间划转时有值"
                              },
                              "finishTimeTimestamp": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "createTimeTimestamp": {
                                "type": "integer",
                                "format": "int64"
                              }
                            },
                            "example": null
                          }
                        },
                        "total": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "size": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "current": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "pages": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "hasPrevious": {
                          "type": "boolean"
                        },
                        "hasNext": {
                          "type": "boolean"
                        }
                      },
                      "example": null
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/mlp/account/withdraw": {
      "post": {
        "tags": [
          "MLP 账户"
        ],
        "summary": "MLP账户提现",
        "description": "MLP账户提现，从MLP账户转出到资金账户，然后划入交易账户。优先扣减本金，再扣减收益\n所需权限: TRADE",
        "operationId": "mlpWithdraw",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "amount",
                  "symbolId",
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "trackingId": {
                    "type": "string",
                    "description": "用于跟踪请求的唯一标识"
                  },
                  "symbolId": {
                    "type": "string",
                    "description": "关联ac_symbol表"
                  },
                  "amount": {
                    "type": "number",
                    "description": "提现金额"
                  }
                },
                "description": "MLP账户提现请求",
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "业务错误键（ExceptionTypeEnum 名称）。完整列表见 /zh/api-reference/error-codes。"
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/mlp/account/deposit": {
      "post": {
        "tags": [
          "MLP 账户"
        ],
        "summary": "MLP账户存款",
        "description": "MLP账户存款，从交易账户转出到资金账户，然后存入MLP账户\n所需权限: TRADE",
        "operationId": "mlpDeposit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "amount",
                  "symbolId",
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "trackingId": {
                    "type": "string",
                    "description": "用于跟踪请求的唯一标识"
                  },
                  "symbolId": {
                    "type": "string",
                    "description": "关联ac_symbol表"
                  },
                  "amount": {
                    "type": "number",
                    "description": "存款金额"
                  }
                },
                "description": "MLP账户存款请求",
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "业务错误键（ExceptionTypeEnum 名称）。完整列表见 /zh/api-reference/error-codes。"
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/finance/account/withdraw": {
      "post": {
        "tags": [
          "理财账户"
        ],
        "summary": "理财账户提现（活期）",
        "description": "仅支持活期产品：传入产品代码与提现金额，从理财转出到资金账户再划入现货。定期多笔持仓请使用「定期持仓提现」接口并指定持仓明细 id\n所需权限: TRADE",
        "operationId": "withdraw",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "amount",
                  "productCode",
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "trackingId": {
                    "type": "string",
                    "description": "用于跟踪请求的唯一标识"
                  },
                  "productCode": {
                    "type": "string",
                    "description": "活期理财产品代码"
                  },
                  "amount": {
                    "type": "number",
                    "description": "提现金额"
                  }
                },
                "description": "理财账户活期提现请求",
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "业务错误键（ExceptionTypeEnum 名称）。完整列表见 /zh/api-reference/error-codes。"
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/finance/account/withdraw/fixed": {
      "post": {
        "tags": [
          "理财账户"
        ],
        "summary": "理财定期持仓提现",
        "description": "仅支持定期产品：指定持仓明细 id（持有中或已到期均可；与当前持仓接口 positionId 一致），后端按该笔本金+利息全额赎回，工作流与活期提现一致\n所需权限: TRADE",
        "operationId": "withdrawFixed",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "positionId",
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "trackingId": {
                    "type": "string",
                    "description": "用于跟踪请求的唯一标识"
                  },
                  "positionId": {
                    "type": "integer",
                    "description": "定期持仓主键 id（持有中或已到期均可赎回；与当前持仓接口返回的 positionId 一致）",
                    "format": "int64"
                  }
                },
                "description": "定期理财持仓提现请求",
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "业务错误键（ExceptionTypeEnum 名称）。完整列表见 /zh/api-reference/error-codes。"
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/finance/account/deposit": {
      "post": {
        "tags": [
          "理财账户"
        ],
        "summary": "理财账户存款",
        "description": "理财账户存款，从现货账户划出到资金账户，然后存入理财产品\n所需权限: TRADE",
        "operationId": "deposit",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "amount",
                  "productCode",
                  "trackingId"
                ],
                "type": "object",
                "properties": {
                  "trackingId": {
                    "type": "string",
                    "description": "用于跟踪请求的唯一标识"
                  },
                  "productCode": {
                    "type": "string",
                    "description": "理财产品代码，如 USDT_CURRENT"
                  },
                  "amount": {
                    "type": "number",
                    "description": "存款金额"
                  }
                },
                "description": "理财账户存款请求",
                "example": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "业务错误键（ExceptionTypeEnum 名称）。完整列表见 /zh/api-reference/error-codes。"
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/symbol/list": {
      "get": {
        "tags": [
          "币种"
        ],
        "summary": "查询币种网络列表",
        "description": "所需权限: READ",
        "operationId": "list",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "业务错误键（ExceptionTypeEnum 名称）。完整列表见 /zh/api-reference/error-codes。"
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbolId": {
                            "type": "integer",
                            "description": "币种ID",
                            "format": "int64"
                          },
                          "assetType": {
                            "type": "string",
                            "description": "币种类型",
                            "enum": [
                              "CRYPTO",
                              "FIAT"
                            ]
                          },
                          "symbol": {
                            "type": "string",
                            "description": "币种名称"
                          },
                          "network": {
                            "type": "string",
                            "description": "币种网络协议"
                          },
                          "minTradeUnit": {
                            "type": "number",
                            "description": "最小动账单位"
                          },
                          "pricePrecision": {
                            "type": "integer",
                            "description": "价格精度",
                            "format": "int32"
                          },
                          "exchangeRate": {
                            "type": "number",
                            "description": "汇率"
                          },
                          "minRechargeAmount": {
                            "type": "number"
                          },
                          "minWithdrawAmount": {
                            "type": "number"
                          },
                          "assetNet": {
                            "type": "string"
                          },
                          "iconData": {
                            "type": "string"
                          },
                          "depositStatus": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "withdrawalStatus": {
                            "type": "integer",
                            "format": "int32"
                          }
                        },
                        "description": "币种网络信息",
                        "example": null
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/symbol/exchange/list": {
      "get": {
        "tags": [
          "币种"
        ],
        "summary": "查询可兑换币种列表",
        "description": "所需权限: READ",
        "operationId": "exchangeList",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "业务错误键（ExceptionTypeEnum 名称）。完整列表见 /zh/api-reference/error-codes。"
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbolId": {
                            "type": "integer",
                            "description": "币种ID",
                            "format": "int64"
                          },
                          "symbolType": {
                            "type": "string",
                            "description": "币种类型",
                            "enum": [
                              "CRYPTO",
                              "FIAT"
                            ]
                          },
                          "symbol": {
                            "type": "string",
                            "description": "币种名称"
                          },
                          "minTradeUnit": {
                            "type": "number",
                            "description": "最小动账单位"
                          },
                          "pricePrecision": {
                            "type": "integer",
                            "description": "价格精度",
                            "format": "int32"
                          },
                          "exchangeRate": {
                            "type": "number",
                            "description": "汇率"
                          },
                          "minExchangeAmount": {
                            "type": "number"
                          },
                          "exchangeOutStatus": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "exchangeInStatus": {
                            "type": "integer",
                            "format": "int32"
                          }
                        },
                        "example": null
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/symbol/detail/{id}": {
      "get": {
        "tags": [
          "币种"
        ],
        "summary": "查询币种详情",
        "description": "所需权限: READ",
        "operationId": "detail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "币种ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "业务错误键（ExceptionTypeEnum 名称）。完整列表见 /zh/api-reference/error-codes。"
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "symbolId": {
                          "type": "integer",
                          "description": "币种ID",
                          "format": "int64"
                        },
                        "assetType": {
                          "type": "string",
                          "description": "币种类型",
                          "enum": [
                            "CRYPTO",
                            "FIAT"
                          ]
                        },
                        "symbol": {
                          "type": "string",
                          "description": "币种名称"
                        },
                        "network": {
                          "type": "string",
                          "description": "币种网络协议"
                        },
                        "minTradeUnit": {
                          "type": "number",
                          "description": "最小动账单位"
                        },
                        "pricePrecision": {
                          "type": "integer",
                          "description": "价格精度",
                          "format": "int32"
                        },
                        "exchangeRate": {
                          "type": "number",
                          "description": "汇率"
                        },
                        "minRechargeAmount": {
                          "type": "number"
                        },
                        "minWithdrawAmount": {
                          "type": "number"
                        },
                        "assetNet": {
                          "type": "string"
                        },
                        "iconData": {
                          "type": "string"
                        },
                        "depositStatus": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "withdrawalStatus": {
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "description": "币种网络信息",
                      "example": null
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/search/app": {
      "get": {
        "tags": [
          "App 全局搜索"
        ],
        "summary": "App综合搜索",
        "description": "所需权限: READ",
        "operationId": "search",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tab",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "业务错误键（ExceptionTypeEnum 名称）。完整列表见 /zh/api-reference/error-codes。"
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "keyword": {
                          "type": "string"
                        },
                        "tab": {
                          "type": "string",
                          "enum": [
                            "ALL",
                            "SPOT",
                            "CONTRACT",
                            "CRYPTO",
                            "TRADFI"
                          ]
                        },
                        "groups": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "groupType": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "hasMore": {
                                "type": "boolean"
                              },
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "itemType": {
                                      "type": "string",
                                      "enum": [
                                        "TRADE_SYMBOL",
                                        "DEPOSIT",
                                        "CONVERT",
                                        "EARN_PRODUCT"
                                      ]
                                    },
                                    "itemId": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "subtitle": {
                                      "type": "string"
                                    },
                                    "symbol": {
                                      "type": "string"
                                    },
                                    "groupKey": {
                                      "type": "string"
                                    },
                                    "payload": {
                                      "type": "object"
                                    }
                                  },
                                  "example": null
                                }
                              }
                            },
                            "example": null
                          }
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "itemType": {
                                "type": "string",
                                "enum": [
                                  "TRADE_SYMBOL",
                                  "DEPOSIT",
                                  "CONVERT",
                                  "EARN_PRODUCT"
                                ]
                              },
                              "itemId": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "subtitle": {
                                "type": "string"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "groupKey": {
                                "type": "string"
                              },
                              "payload": {
                                "type": "object"
                              }
                            },
                            "example": null
                          }
                        },
                        "page": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "size": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "example": null
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          }
        }
      }
    },
    "/openapi/v1/mc-account/mlp/yesterday-yield-rate-data": {
      "get": {
        "tags": [
          "MLP 账户"
        ],
        "summary": "获取MLP昨日回报率数据",
        "description": "所需权限: READ",
        "operationId": "getMlpYieldRateData",
        "parameters": [
          {
            "name": "mlpGraphReq",
            "in": "query",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "format": "date-time"
                },
                "to": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "description": "Mlp前台图表请求对象",
              "example": null
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "example": null
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "codeKey": {
                      "type": "string",
                      "description": "业务错误键（ExceptionTypeEnum 名称）。完整列表见 /zh/api-reference/error-codes。"
                    },
                    "params": {
                      "type": "object"
                    },
                    "localizedMessage": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "data": {
                            "type": "string",
[...]
